/*Contenedor principal*/
.objetivos-main-container{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: rgb(61,17,109);
background: linear-gradient(95deg, rgba(61,17,109,1) 0%, rgba(247,245,249,1) 30%, rgba(255,255,255,1) 50%, rgba(247,254,251,1) 70%, rgba(240,253,247,1) 71%, rgba(48,230,145,1) 100%);
}

/*Titulo objetivos sociales*/
.objetivos-title{
    font-size: 2.5rem ;
    font-family: "InterTight-medium";
    color: var(--darkviolet);
    text-align: center;
    letter-spacing: .0625rem;
    margin-bottom: 3.125rem;
    margin-left: .625rem;
    margin-right: .625rem;
}

/*Contenedor de objetivos e imágen*/
.objetivos-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.125rem;
    margin-bottom: 40px;
}

/*Contenedor de objetivos*/
.objetivos-text-container{
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
}

/*Objetivo*/
.objetivo{
    text-align: left;
    font-family: "interTight";
    color: var(--black);
    font-size: 22px;
    width: 34.375rem;
}

/*Fondo Violeta*/
.objetivos-color-title{
    font-family: "archivo-black";
    font-size: 1.5625rem;
    background: var(--violet);
    color:#fff;
    padding: 2px 15px;
    clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
}

/*Contenedor de imágen*/
.objetivos-image-container{
    width: 28.125rem;
    height: 28.125rem;
    overflow: hidden;
    border-radius: 2.5rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3)
}

/*Imágen*/
.objetivos-image{
    width: 100%;
    height: 100%;
}

/*Contenedor de articulo*/
.objetivos-articulo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 1.25rem;
    background-color: var(--grey);
    padding-top: 2.5rem ;
    padding-bottom: 1.875rem;
}

/*Texto final*/
.objetivos-articulo{
    font-family: "InterTight";
    font-weight: bold;
    letter-spacing: .0625rem;
    color: var(--black);
    font-size: 1.5625rem;
    width: 800px;
    text-align: center;
}

/*Contenedor de botón*/
.objetivos-button-container{
    width: 12.5rem;
}

/*----------------Media Queries----------------*/

@media (max-width: 1120px){
    .objetivos-container{
        gap: 1.875rem;
    }
    .objetivos-image-container{
        width: 400px;
        height: 25rem;
    }
}

@media (max-width: 1040px){
    .objetivos-image-container{
        width: 21.875rem;
        height: 21.875rem;
    }
    .objetivos-color-title{
        font-size: 1.25rem;
    }
    .objetivo{
        font-size: 1.25rem;
    }
}

@media (max-width:970px){
    .objetivo{
        width: 400px;
    }
    .objetivos-title{
        font-size: 2.1875rem;
    }
    .objetivos-articulo{
        width: 80%;
    }
}

@media (max-width: 830px){
    .objetivos-title{
        margin-bottom: 1.875rem;
    }
    .objetivos-container{
        flex-direction: column;
    }
    #objetivos-container-direction{
        flex-direction: column-reverse;
    }
    .objetivos-text-container{
        gap: .9375rem;
    }
    .objetivo{
        font-size: 1.25rem;
        width: 80%;
        text-align: center;
        margin: auto;
    }
    .objetivos-image-container{
        width: 28.125rem;
        height: 28.125rem;
    }
    .objetivos-articulo{
        font-size: 1.25rem;
    }
}

@media (max-width: 700px){
    .objetivos-title{
        font-size: 1.875rem;
    }
    .objetivos-main-container{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .objetivo{
        width: 90%;
    }
    .objetivos-articulo-container{
        margin-top: 3rem;
    }
    .objetivos-articulo{
        width: 90%;
    }
    .objetivos-button-container{
        width: 90%;
    }
}

@media (max-width: 550px){
    .objetivos-title{
        font-size: 1.5625rem
    }
    .objetivos-container{
        gap: .9375rem;
        margin-bottom: 1.5625rem;
    }
    .objetivos-color-title{
        font-size: 18px;
        padding: 2px 10px;
    }
    .objetivo{
        font-size: 1.125rem;
    }
    .objetivos-image-container{
        width: 25rem;
        height: 25rem;
    }
    .objetivos-articulo-container{
        padding-top: 1.875rem;
    }
    .objetivos-articulo{
        font-size: 1.125rem;
    }
}

@media (max-width: 460px){
    .objetivos-image-container{
        width: 350px;
        height: 21.875rem;
    }
}

@media (max-width: 390px){
    .objetivos-image-container{
        width: 330px;
        height: 20.625rem;
    }
}

@media (max-width: 350px){
    .objetivos-image-container{
        width: 315px;
        height: 19.6875rem;
    }
}