/*Contenedor principal*/
.preguntas-main-container{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/*Título*/
.preguntas-title{
    font-family: "archivo";
    color: var(--darkgreen);
    font-size:2.5rem ;
    text-align: center;
}

/*Contenedor de acordeón*/
.preguntas-accordion-container{
    max-width: 1200px;
    margin: 80px auto;
    margin-top: 1.25rem;
}

/*Enlace en acordeón*/
.preguntas-accordion-link{
    text-decoration: none;
    color: var(--darkgreen);
    font-weight: bold;
}

/*Contenedort de logo y texto*/
.preguntas-logo-text-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*Contenedor de texto*/
.preguntas-usuarios-text{
    display: flex;
    flex-direction: column;
    width: 37.5rem;
    padding: 1.875rem;
    border: .1875rem solid var(--darkgreen);
}

/*Título de mensaje*/
.preguntas-usuarios-title{
    font-family: "archivo";
    font-size: 1.875rem;
    color: var(--darkgreen);
}

/*Texto de mensaje*/
.preguntas-usuarios-text{
    font-family: "interTight";
    font-size: 1.25rem;
}

/*Contenedor del logo*/
.preguntas-logo-container{
    width: 15.625rem;
}

/*----------------Media Queries----------------*/

@media (max-width: 1300px){
    .preguntas-accordion-container{
        width: 43.75rem;
    }   
}

@media (max-width: 1050px){
    .preguntas-accordion-container{
        width: 37.5rem;
    }
    .preguntas-usuarios-text{
        width: 25rem;
    }
    .preguntas-logo-container{
        width: 12.5rem;
    }
}

@media (max-width: 760px){
    .preguntas-main-container{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .preguntas-accordion-container{
        width: 90%;
        margin: auto;
        margin-top: 1.25rem;
    }
    .preguntas-logo-text-container{
        flex-direction: column;
        margin-top: 3.125rem;
        gap: 3.125rem;
    }
}

@media (max-width: 550px){
    .preguntas-title{
        font-size: 1.875rem;
    }
    .preguntas-usuarios-text{
        width: 90%;
        margin: auto;
    }
    .preguntas-usuarios-title{
        font-size: 1.25rem;
    }
    .preguntas-usuarios-description{
        font-size: 1rem;
    }
    .preguntas-logo-text-container{
        gap: 1.875rem;
    }
    .preguntas-logo-container{
        width: 8.125rem;
    }
}

@media (max-width: 450px){
    .preguntas-main-container{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}