/*Contenedor principal*/
.preguntas-main-container{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/*Contenedor de acordeón*/
.preguntas-accordion-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/*Enlace en acordeón*/
.preguntas-accordion-link{
    text-decoration: none;
    color: var(--darkgreen);
    font-weight: bold;
}

/*Contenedor de texto*/
.preguntas-usuarios-text{
    display: flex;
    flex-direction: column;
    gap: .625rem;
    width: 75rem;
    padding: 1.875rem;
    margin: auto;
    background-color: var(--darkviolet);
    border-radius: 3.125rem;
    margin-top: 4rem;
}

/*Título de mensaje*/
.preguntas-usuarios-title{
    font-family: "InterTight";
    font-size: 1.875rem;
    color: var(--newgreen);
    text-align: center;
    letter-spacing: 1px;
}

/*Texto de mensaje*/
.preguntas-usuarios-text{
    font-family: "interTight";
    font-size: 1.5625rem;
    color: var(--white);
    text-align: center;
    letter-spacing: .0625rem;
}
/*----------------Media Queries----------------*/

@media (max-width: 1300px){
    .preguntas-accordion-container{
        width: 800px;
    }
    .preguntas-usuarios-text{
        width: 50rem;
    }
}

@media (max-width: 920px){
    .preguntas-accordion-container{
        width: 41.875rem;
    }
    .preguntas-usuarios-text{
        width: 41.875rem;
    }
}

@media (max-width: 700px){
    .preguntas-main-container{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .preguntas-accordion-container{
        width: 90%;
    }
    .preguntas-usuarios-text{
        width: 90%;
        margin-top: 1.875rem;
    }
    .preguntas-usuarios-title{
        font-size: 1.5625rem;
    }
    .preguntas-usuarios-text{
        font-size: 1.25rem;
    }
}