/* Contenedor principal */
.blog-main-container{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: linear-gradient(95deg, rgba(61,17,109,1) 0%, rgba(247,245,249,1) 30%, rgba(255,255,255,1) 50%, rgba(247,254,251,1) 70%, rgba(240,253,247,1) 71%, rgba(48,230,145,1) 100%);
}

/* Introducción */
.blog-intro{
    font-family: "interTight";
    color: var(--black);
    font-size: 1.5625rem;
    width: 75rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Contenedor secundario */
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    flex-wrap: wrap;
    gap: 2rem;
}

/*Sub-contenedor*/
.blog-subcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}

/* Contenedor de imágenes */
.blog-image-container{
    overflow: hidden;
    border-radius: 2.5rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    width: 28.125rem;
    height: 28.125rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Hover para imagen */


/* Imagen */
.blog-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Titulo de noticia */
.blog-title{
    font-family: "archivo";
    font-size: 1.875rem;
    color: var(--black);
    text-align: center;
    margin-top: 15px;
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Hover para título */
.blog-title:hover{
    color: var(--newgreen);
}

/* Descripción de noticia */
.blog-description{
    font-family: "interTight";
    color: black;
    font-size: 1.25rem;
    width: 31.25rem;
    text-align: center;
}

/*----------------Media Queries----------------*/

@media (max-width: 1250px){
    .blog-intro{
        width: 80%;
    }
    .blog-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 80px;
    }
    .blog-description{
        text-align: center;
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 700px){
    .blog-main-container{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .blog-intro{
        width: 90%;
        font-size: 1.375rem;
    }
    .blog-description{
        width: 90%;
        font-size: 1.125rem;
    }
    .blog-container{
        margin-top: 2.5rem;
    }
    .blog-container{
        gap: 40px;
    }
}

@media (max-width: 550px){
    .blog-image-container{
        width: 25rem;
        height: 25rem;
    }
}

@media (max-width: 450px){
    .blog-image-container{
        width: 21.875rem;
        height: 21.875rem;
    }
}

@media (max-width: 380px){
    .blog-image-container{
        width: 18.75rem;
        height: 18.75rem;
    }
}