/*Contenedor principal*/
.homeBlog-main-container{
    overflow: hidden;
    padding-bottom: 5rem;
    background: linear-gradient(307deg, rgba(61,17,109,1) 0%, rgba(228,228,228,1) 20%, rgba(228,228,228,1) 33%, rgba(228,228,228,1) 52%, rgba(228,228,228,1) 80%, rgba(46,237,141,1) 100%);
}

/*Título*/
.homeBlog-title{
    background-color: var(--newgreen);
    font-family: "InterTight";
    text-align: center;
    color: var(--darkviolet);
    letter-spacing: 1px;
    font-size: 3.125rem;
    padding: .9375rem;
    margin-bottom: 3.125rem;
}

/*Descripción*/
.homeBlog-description{
    font-size: 25px;
    font-family: "interTight-medium";
    text-align: center;
    color: black;
    letter-spacing: 1px;
    width: 62.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.1875rem;
}

/*Contenedor de bloques de noticias*/
.homeBlog-noticiasContainer{
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

/*Contenedor indivudual de imágen y título*/
.homeBlog-noticia{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/*Contenedor de imágen*/
.homeBlog-img-container{
    width: 25rem;
    height: 25rem;
    overflow: hidden;
    border-radius: 2.5rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: transform 0.3s ease;
}
/*Imágen*/
.homeBlog-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

/* Hover en la imagen */
.homeBlog-img-container:hover .homeBlog-img {
    transform: scale(1.1);
}

/*Título de noticia*/
.HomeBlog-noticiaTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "interTight";
    font-size: 2.1875rem;
    text-align: center;
    padding: 30px;
    z-index: 10;
    box-sizing: border-box;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: hidden;
}

/*Contenedor del botón*/
.homeBlog-buttonContainer{
    width: 14.375rem;
    margin-top: 3.125rem;
    margin: auto;
    margin-top: 2.1875rem;
}

/*----------------Media Queries----------------*/

@media(max-width:1350px){
    .HomeBlog-noticia{
        width: 15.625rem;
    }
    .HomeBlog-img{
        height: 21.875rem;
        margin-top: 3.125rem;
    }
}

@media(max-width:1150px){
    .HomeBlog-noticia{
        width: 15rem;
    }
    .HomeBlog-img{
        height: 21.25rem;
        margin-top: 3.125rem;
    }
}

@media(max-width:1110px){
    .HomeBlog-main-NoticiasContainer{
        flex-direction: column;
        gap: 0%;
    }
    .HomeBlog-noticia{
        width: 18.75rem;
    }
    .HomeBlog-img{
        height: 25rem;
    }
    .HomeBlog-description{
        width: 80%;
    }
}

@media(max-width:760px){
    .HomeBlog-title{
        font-size: 2.1875rem;
    }
    .HomeBlog-description{
        width: 80%;
    }
    .HomeBlog-NoticiasContainer{
        flex-direction: column;
        gap: 0%;
    }
    .HomeBlog-img{
        height: 400px;
    }
    .HomeBlog-noticia{
        width: 18.75rem;
    }
}

@media(max-width:700px){
    .HomeBlog-buttonContainer{
        width: 80%;
    }
}

@media(max-width:650px){
    .HomeBlog-container2{
        padding-bottom: 4rem;
    }
}

@media(max-width:600px){
    .HomeBlog-description{
        width: 90%;
    }
}

@media(max-width:450px){
    .HomeBlog-img{
        height: 21.875rem;
    }
    .HomeBlog-noticia{
        width: 15.625rem;
    }
    .HomeBlog-buttonContainer{
        width: 90%;
    }
}

@media(max-width:400px){
    .HomeBlog-title{
        font-size: 1.875rem;
    }
}