/*Contenedor principal*/
.homeGuardia2-main-container{
    overflow: hidden;
    background: linear-gradient(307deg, rgba(48,230,145,1) 0%, rgba(217,220,221,1) 20%, rgba(221,220,223,1) 50%, rgba(215,212,218,1) 80%, rgba(61,17,109,1) 100%);
}

/*Título*/
.homeGuardia2-title{
    background-color: var(--newgreen);
    font-family: "InterTight";
    text-align: center;
    color: var(--darkviolet);
    letter-spacing: 1px;
    font-size: 3.125rem;
    padding: .9375rem;
    margin-bottom: 3.125rem;
}

/*Contenedor de info*/
.homeGuardia2-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/*Primer texto*/
.homeGuardia2-text01{
    font-size: 25px;
    font-family: "interTight-medium";
    text-align: center;
    color: black;
    letter-spacing: 1px;
    width: 62.5rem;
    margin-left: auto;
    margin-right: auto;
}

/*Segundo texto*/
.homeGuardia2-text02{
    font-size: 25px;
    font-family: "interTight";
    text-align: center;
    letter-spacing: 1px;
    width: 62.5rem;
    margin-left: auto;
    margin-right: auto;
    color: var(--white);
    background-color: var(--violet);
    padding: 30px 90px 30px 90px;
    border-radius: 1.5625rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

/*Botón*/
.homeGuardia2-button{
    width: 18.75rem;
    margin: auto;
}

/*Contenedor de imágen*/
.homeGuardia2-img-container{
    width: 600px;
    height: 37.5rem;
    overflow: hidden;
    border-radius: 2.5rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.125rem;
}

/*Imágen*/
.homeGuardia2-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/*----------------Media Queries----------------*/

@media(max-width:1060px){
    .homeGuardia2-title{
        font-size: 2.8125rem;
    }
    .homeGuardia2-text01{
        font-size: 1.375rem;
        width: 80%;
    }
    .homeGuardia2-text02{
        font-size: 1.375rem;
        width: 80%;
    }
    .homeGuardia2-img-container{
        width: 31.25rem;
        height: 31.25rem;
    }
}

@media(max-width:700px){
    .homeGuardia2-title{
        font-size: 2.5rem;
        padding: .625rem;
        margin-bottom: 1.875rem;
    }
    .homeGuardia2-text01{
        font-size: 1.25rem;
        width: 90%;
    }
    .homeGuardia2-text02{
        font-size: 1.25rem;
        width: 90%;
        padding: 1.875rem;
    }
    .homeGuardia2-button{
    width: 90%;
    }
    .homeGuardia2-img-container{
        width: 28.125rem;
        height: 28.125rem;
    }
}

@media(max-width:550px){
    .homeGuardia2-img-container{
        width: 25rem;
        height: 25rem;
    }
}

@media(max-width:450px){
    .homeGuardia2-title{
        font-size: 2.1875rem;
        padding: .3125rem;
        margin-bottom: 1.25rem;
    }
    .homeGuardia2-img-container{
        width: 21.875rem;
        height: 21.875rem;
    }
}

@media(max-width:380px){
    .homeGuardia2-img-container{
        height: 18.75rem;
        width: 18.75rem;
    }
}