/*Contenedor principal*/
.homeGuardia2-main-container{
    overflow: hidden;
    background: linear-gradient(307deg, rgba(61,17,109,1) 0%, rgba(228,228,228,1) 20%, rgba(228,228,228,1) 33%, rgba(228,228,228,1) 52%, rgba(228,228,228,1) 80%, rgba(46,237,141,1) 100%);

}

/*Título*/
.homeGuardia2-title{
    background-color: var(--newgreen);
    font-family: "InterTight";
    text-align: center;
    color: var(--darkviolet);
    letter-spacing: 1px;
    font-size: 3.125rem;
    padding: .9375rem;
    margin-bottom: 3.125rem;
}

/*Contenedor de info*/
.homeGuardia2-container{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/*Primer texto*/
.homeGuardia2-text01{
    font-size: 25px;
    font-family: "interTight";
    text-align: center;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    width: 62.5rem;
    margin-left: auto;
    margin-right: auto;
}

/*Segundo texto*/
.homeGuardia2-text02{
    font-size: 25px;
    font-family: "interTight";
    text-align: center;
    letter-spacing: 1px;
    width: 62.5rem;
    margin-left: auto;
    margin-right: auto;
    color: var(--white);
    background-color: var(--violet);
    padding: 30px 90px 30px 90px;
    border-radius: 1.5625rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

/*Botón*/
.homeGuardia2-button{
    width: 18.75rem;
    margin: auto;
}

/*Contenedor de imágen*/
.homeGuardia2-img-container{
    width: 600px;
    height: 37.5rem;
    overflow: hidden;
    border-radius: 2.5rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.125rem;
}

/*Imágen*/
.homeGuardia2-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/*----------------Media Queries----------------*/

@media(max-width:1250px){
    .imagenGuardia2{
        width: 34.375rem;
        height: 28.125rem;
    }
    .HomeGuardia-title2{
        font-size: 2.1875rem;
    }
    .HomeGuardia-description2{
        font-size: .9375rem;
    }
    .HomeGuardia-infoContainer2{
        height: 28.125rem;
        width: 31.25rem;
    }
    .HomeGuardia-buttonContainer2{
        margin-top: .9375rem;
    }
}

@media(max-width:1110px){
    .HomeGuardia-container2{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .imagenGuardia2{
        width: 37.5rem;
        height: 31.25rem;
    }
    .HomeGuardia-title2{
        font-size: 2.5rem;
    }
    .HomeGuardia-description2{
        font-size: 1rem;
    }
    .HomeGuardia-infoContainer2{
        height: 100%;
        width: 100%;
        max-width: 50rem;
    }
    .HomeGuardia-buttonContainer2{
        display: none;
    }
    .HomeGuardia-buttonContainer2-column{
        display: block;
        width: 14.375rem;
        height: 3.75rem;
        margin-top: 1.25rem;
    }
}

@media(max-width:850px){
    .HomeGuardia-container2{
        gap: 20px;
    }
    .imagenGuardia2{
        width: 31.25rem;
        height: 25rem;
    }
    .HomeGuardia-infoContainer2{
        max-width: 40.625rem;
    }
    .HomeGuardia-buttonContainer2-column{
        display: block;
        width: 14.375rem;
        height: 3.75rem;
    }
}

@media(max-width:760px){
    .HomeGuardia-title2{
        font-size: 2.1875rem;
    }
    .HomeGuardia-infoContainer2{
        max-width: 80%;
    }
}

@media(max-width:700px){
    .HomeGuardia-buttonContainer2-column{
        width: 80%;
    }
}

@media(max-width:650px){
    .HomeGuardia-container2{
        padding-bottom: 4rem;
    }
}

@media(max-width:600px){
    .HomeGuardia-title2{
        font-size: 1.875rem;
    }
    .imagenGuardia2{
        width: 26.875rem;
        height: 20.625rem;
    }
    .HomeGuardia-infoContainer2{
        max-width: 90%;
    }
}

@media(max-width:450px){
    .imagenGuardia2{
        width: 21.875rem;
        height: 15.625rem;
    }
    .HomeGuardia-buttonContainer2-column{
        width: 90%;
    }
}

@media(max-width:403px){
    .HomeGuardia-title2{
        font-size: 1.5625rem;
    }
}

@media(max-width:390px){
    .imagenGuardia2{
        width: 20rem;
        height: 13.75rem;
    }
}

@media(max-width:350px){
    .HomeGuardia-title2{
        font-size: 1.4375rem;
    }
    .imagenGuardia2{
        width: 18.125rem;
        height: 11.875rem;
    }
}

@media(max-width:327px){
    .HomeGuardia-title2{
        font-size: 1.375rem;
    }
}