/*Contenedor principal */
.swiper {
width: 68.75rem;
padding: 20px 0;
position: relative;
}

/* Flechas de navegación */
.swiper-button-next,
.swiper-button-prev {
color: #3d116d; 
position: absolute;
top: 50%; 
z-index: 10;
transform: scale(0.5);
background-color: #2eed8d;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
padding: 2.1875rem;
box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
}

/*Flecha Izquierda*/
.swiper-button-prev {
    left: 335px;
}

/*Flecha derecha*/
.swiper-button-next {
    right: 335px;
}

/* Estilo para las cards */
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
}

/* Para la card central (activa) */
    .swiper-slide-active {
    transform: scale(1);
    opacity: 1;
    filter: grayscale(0);
}

/* Para las cards laterales (no activas) */
    .swiper-slide:not(.swiper-slide-active) {
    transform: scale(0.8) translateY(20px);
    filter: grayscale(100%);
}

/*----------------Media Queries----------------*/

@media(max-width: 1100px){
    .swiper{
        width: 28.125rem;
    }
    .swiper-button-prev {
        left: 10px;
    }
    .swiper-button-next {
        right: 10px;
    }
}

@media(max-width: 700px){
    .swiper{
        width: 25rem;
    }
}

@media(max-width: 450px){
    .swiper{
        width: 310px;
    }
    .swiper-button-prev {
        transform: scale(0.4);
        left: -18px;
    }
    .swiper-button-next {
        right: -18px;
        transform: scale(0.4)
    }
}