/*Contenedor principal*/
.comunicadosPage-container{
    margin-bottom: 5rem;
    overflow: hidden;
}

/*Contenedor de comunicado*/
.comunicado-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9.375rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/*Fondo Verde*/
.comunicados-image-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid #12824C;
    transform: translate(20px, 20px);
    transform-origin: top left;
    pointer-events: none; 
    background: #12824C;
}

/*Fondo verde invertido*/
.comunicados-background-position::before {
    transform: translate(-28px, 20px);
}

/*Contenedor de imágen*/
.comunicados-image-container{
    position: relative;
    width: 37.5rem;
    height: 37.5rem;
}

/*Imágen*/
.comunicados-image{
    position: relative;
    width: 100%;
    height: 100%;
}

/*Contenedor de texto*/
.comunicados-text-containter{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.25rem;
    width: 37.5rem;
}

/*Títulos*/
.comunicados-title{
    font-family: "archivo";
    font-size: 2.1875rem;
    color: var(--black);
}

/*Fondo Violeta*/
.color-title{
    background:#8048ff;
    color:#fff;
    padding: 2px 15px;
    clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
}

/*Descripción de comunicado*/
.comunicados-description{
    font-family: "interTight";
    color: grey;
    font-size: 1.25rem;
}

/*Alineado para la order list*/
.text-left{
    text-align:left ;
}

/*Fondo oscuro*/
#dark-background{
    background-color: var(--black)
}

/*Letras blancas*/
#light-font{
    color: white;
}

/*Contenedor de información final*/
.comunicados-info-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

/*Contenedor individual de cada información*/
.comunicados-info{
    display: flex;
    flex-direction: column;
    gap: .625rem;
    width: 36.25rem;
    height: 41.875rem;
    padding: 1.875rem;
    border: .1875rem solid var(--darkgreen);
}

/*Titulo de la info*/
.comunicados-info-title{
    font-family: "interTight";
    color: var(--darkgreen);
    font-size: 1.875rem;
}

/*Descripción de info*/
.comunicados-info-description{
    font-family: "interTight";
    color: var(--black);
    font-size: 1.125rem;
    line-height: 1.6875rem;
    margin-left: 1.875rem;
}

/*Resaltado de texto*/
.comunicados-resaltado{
    font-weight: bold;
    text-transform: uppercase;
    color: var(--darkgreen);
}

/*Enlaces en la info*/
.comunicados-links{
    text-decoration: none;
    color: var(--darkgreen);
    overflow-wrap: break-word;
    word-break: break-word;
}

/*Saludo*/
.comunicado-saludo{
    font-family: "interTight";
    color: var(--black);
    padding-top: .625rem;
    text-align: right;
    font-size: 1.125rem;
}

/*Agradecimiento*/
.comunicados-gracias{
    font-family: "interTight";
    margin-left: 1.875rem;
    color: var(--black);
    font-size: 1.125rem;
}

/*Firma*/
.comunicados-firma{
    font-family: "interTight";
    color: var(--darkgreen);
    font-size: 1.25rem;
    text-align: right;
}

/*----------------Media Queries----------------*/

@media (max-width: 1460px){
    .comunicado-container{
        gap: 6.25rem;
    }
    .comunicados-text-containter{
        width: 28.125rem;
    }
    .comunicados-title{
        font-size: 1.875rem;
    }
    .comunicados-image-container{
        width: 31.25rem;
        height: 31.25rem;
    }
    .comunicados-info{
        width: 31.25rem;
        height: 45rem;
    }
}

@media (max-width: 1170px){
    .comunicado-container{
        gap: 3.125rem;
    }
    .comunicados-text-containter{
        width: 25rem;
    }
    .comunicados-title{
        font-size: 1.5625rem;
    }
    .comunicados-description{
        font-size: 1.125rem;
    }
    .comunicados-image-container{
        width: 25rem;
        height: 25rem;
    }
    .comunicados-info{
        width: 23.125rem;
        height: 61.25rem;
    }
    .comunicados-info-title{
        font-size: 1.5625rem;
    }
}

@media (max-width: 950px){
    .comunicados-text-containter{
        width: 21.875rem;
    }
    .comunicados-title{
        font-size: 1.375rem;
    }
    .comunicados-description{
        font-size: 1rem;
    }
    .comunicados-image-container{
        width: 18.75rem;
        height: 18.75rem;
    }
    .comunicados-image-container::before{
        transform: translate(10px, 10px)
    }
    .comunicados-background-position::before {
        transform: translate(-18px, 10px);
    }
}

@media (max-width: 760px){
    .comunicadosPage-container{
        margin-bottom: 4rem;
    }
    .comunicado-container{
        flex-direction: column;
        gap: 1.875rem;
    }
    .comunicados-text-containter{
        width: 80%;
        margin: auto;
    }
    .comunicados-title{
        font-size: 1.875rem;
    }
    .comunicados-description{
        font-size: 1.25rem;
    }
    .comunicados-image-container{
        width: 25rem;
        height: 25rem;
    }
    .comunicados-info-container{
        flex-direction: column;
        gap: 4rem;
        margin-top: 4rem;
    }
    .comunicados-info{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }
}

@media (max-width: 650px){
    .comunicado-container{
        padding-top: 4rem;
    }
}

@media (max-width: 550px){
    .comunicados-text-containter{
        width: 90%;
    }
    .comunicados-title{
        font-size: 1.5625rem;
    }
    .comunicados-description{
        font-size: 1.125rem;
    }
    .comunicados-image-container{
        width: 18.75rem;
        height: 18.75rem;
    }
    .comunicados-info{
        width: 90%;
    }
}

@media (max-width: 400px){
    .comunicados-title{
        font-size: 1.375rem;
    }
    .comunicados-description{
        font-size: 1rem;
    }
    .comunicados-image-container{
        width: 15.625rem;
        height: 15.625rem;
    }
    .comunicados-image-container::before{
        transform: translate(2px, 2px)
    }
    .comunicados-background-position::before {
        transform: translate(-9px, 2px);
    }
}