/*Contenedor principal*/
.comunicadosPage-container{
    overflow: hidden;
    margin-top: 5rem;
}

/*Contenedor de comunicado*/
.comunicado-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9.375rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

/*Corrección de padding primer contenedor*/
.padding-top{
    padding-top: 0;
}

/*Contenedor de imágen*/
.comunicados-image-container{
    overflow: hidden;
    border-radius: 2.5rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    width: 37.5rem;
    height: 37.5rem;
}

/*Imágen*/
.comunicados-image{
    width: 100%;
    height: 100%;
}

/*Contenedor de texto*/
.comunicados-text-containter{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.25rem;
    width: 37.5rem;
}

/*Títulos*/
.comunicados-title{
    font-family: "archivo";
    font-size: 2.1875rem;
    color: var(--black);
}

/*Estilo 1 para títulos*/
.color-title01{
    background:var(--lightgreen);
    border-radius: 1.5625rem;
    color: var(--black);
    padding: 2px 15px;
}

/*Estilo  para títulos*/
.color-title02{
    color: var(--lightgreen);
}

/*Descripción de comunicado*/
.comunicados-description{
    font-family: "interTight";
    color: grey;
    font-size: 1.25rem;
    text-align: left;
    padding-left: .9375rem;
}

/*Sin padding para la lista*/
.no-padding{
    padding-left: 0px;
    margin-left: 1.25rem;
}

/*Alineado para la order list*/
.text-left{
    text-align:left ;
}

/*Fondo oscuro*/
#dark-background{
    background-color: var(--black)
}

/*Letras blancas*/
#light-font{
    color: white;
}

/*Contenedor de información final*/
.comunicados-info-container{
    background: linear-gradient(307deg, rgba(61,17,109,1) 0%, rgba(228,228,228,1) 20%, rgba(228,228,228,1) 33%, rgba(228,228,228,1) 52%, rgba(228,228,228,1) 80%, rgba(46,237,141,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    gap: 1.875rem;
    padding-bottom: 5rem;
}

/*Contenedor individual de cada información*/
.comunicados-info{
    display: flex;
    flex-direction: column;
    gap: .625rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.875rem;
    background-color: var(--darkgreen);
    border-radius: 2.5rem;
}

/*Titulo de la info*/
.comunicados-info-title{
    font-family: "interTight";
    color: var(--white);
    font-size: 1.875rem;
    letter-spacing: .0625rem;
}

/*Descripción de info*/
.comunicados-info-description{
    font-family: "interTight";
    color: var(--white);
    font-size: 1.125rem;
    line-height: 1.6875rem;
    margin-left: 1.875rem;
    letter-spacing: .0625rem;
}

/*Resaltado de texto*/
.comunicados-resaltado{
    font-weight: bold;
    text-transform: uppercase;
    color: var(--lightgreen);
}

/*Enlaces en la info*/
.comunicados-links{
    text-decoration: none;
    color: var(--lightgreen);
    overflow-wrap: break-word;
    word-break: break-word;
}

/*Saludo*/
.comunicado-saludo{
    font-family: "interTight";
    color: var(--white);
    padding-top: .625rem;
    text-align: right;
    font-size: 1.125rem;
    letter-spacing: .0625rem;
}

/*Agradecimiento*/
.comunicados-gracias{
    font-family: "interTight";
    margin-left: 1.875rem;
    color: var(--white);
    font-size: 1.125rem;
    letter-spacing: .0625rem;
}

/*Firma*/
.comunicados-firma{
    font-family: "interTight";
    color: var(--white);
    font-size: 1.25rem;
    text-align: right;
    letter-spacing: .0625rem;
}

/*----------------Media Queries----------------*/

@media (max-width: 1460px){
    .comunicado-container{
        gap: 6.25rem;
    }
    .comunicados-text-containter{
        width: 28.125rem;
    }
    .comunicados-title{
        font-size: 1.875rem;
    }
    .comunicados-image-container{
        width: 31.25rem;
        height: 31.25rem;
    }
}

@media (max-width: 1170px){
    .comunicado-container{
        gap: 3.125rem;
    }
    .comunicados-text-containter{
        width: 25rem;
    }
    .comunicados-title{
        font-size: 1.5625rem;
    }
    .comunicados-description{
        font-size: 1.125rem;
    }
    .comunicados-image-container{
        width: 25rem;
        height: 25rem;
    }
    .comunicados-info-title{
        font-size: 1.5625rem;
    }
}

@media (max-width: 950px){
    .comunicados-text-containter{
        width: 21.875rem;
    }
    .comunicados-title{
        font-size: 1.375rem;
    }
    .comunicados-description{
        font-size: 1rem;
    }
    .comunicados-image-container{
        width: 21.875rem;
        height: 21.875rem;
    }
}

@media (max-width: 830px){
    .comunicado-container{
        flex-direction: column;
        gap: .9375rem;
    }
    #dark-background{
        flex-direction: column-reverse;
    }
    .comunicados-text-containter{
        width: 80%;
        margin: auto;
    }
    .comunicados-title{
        font-size: 1.875rem;
    }
    .comunicados-description{
        font-size: 1.25rem;
    }
    .comunicados-image-container{
        width: 28.125rem;
        height: 28.125rem;
    }
}

@media (max-width: 700px){
    .comunicadosPage-container{
        margin-top: 4rem;
    }
    .comunicado-container{
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
    }
    .padding-top{
        padding-top: 0;
    }
    .comunicados-text-containter{
        width: 90%;
    }
    .comunicados-title{
        font-size: 1.5625rem;
    }
    .comunicados-description{
        font-size: 1.125rem;
    }
    .comunicados-info-container{
        margin-top: 2rem;
        padding-bottom: 4rem;
    }
    .comunicados-info{
        width: 90%;
    }
}

@media (max-width: 550px){
    .comunicado-container{
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
    .padding-top{
        padding-top: 0;
    }
    .comunicados-text-containter{
        gap: .625rem;
    }
    .comunicados-image-container{
        width: 25rem;
        height: 25rem;
    }
    .comunicados-info{
        padding-left: 10px;
        padding-right: .625rem;
    }
    .comunicados-info-title{
        padding-left: .9375rem;
    }
    .comunicado-saludo{
        padding-right: .3125rem;
    }
    .comunicados-firma{
        padding-right: 10px;
    }
}

@media (max-width: 460px){
    .comunicados-title{
        font-size: 1.375rem;
    }
    .comunicados-description{
        font-size: 1rem;
    }
    .comunicados-image-container{
        width: 21.875rem;
        height: 21.875rem;
    }
}

@media (max-width: 390px){
    .comunicados-image-container{
        width: 330px;
        height: 20.625rem;
    }
}

@media (max-width: 350px){
    .comunicados-image-container{
        width: 315px;
        height: 19.6875rem;
    }
}