/* Contenedor principal */
.form-main-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: linear-gradient(90deg, rgba(61,17,109,1) 0%, rgba(221,220,223,1) 35%, rgba(228,228,228,1) 50%, rgba(224,228,226,1) 64%, rgba(48,230,145,1) 100%);
}

/* Contenedor de textos */
.form-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .625rem;
    text-align: center;
    padding: 0 1rem;
}

/* Primer texto del formulario */
.form-text01 {
    font-family: "interTight-medium";
    color: var(--darkviolet);
    font-size: 2.5rem;
    margin-left: .625rem;
    margin-right: .625rem;
    text-align: center;
}

/* Segundo texto del formulario */
.form-text02 {
    font-family: "interTight";
    color: black;
    font-size: 1.25rem;
    text-align: center;
    width: 50rem;
    letter-spacing: 1px;
}

/* Contenedor del formulario */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    max-width: 50rem;
    margin: auto;
    margin-top: 1.875rem;
}

/*Contenedor del botón*/
.form-button-container{
    width: 12.5rem;
    margin: auto;
    margin-top: 1.875rem;
}

/*Span de la dirección*/
.form-span{
    color: var(--darkviolet);
    font-family: "interTight";
    margin-bottom: .3125rem;
}

/*Calendario y selector de horario*/
.form-calendar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
    gap: .9375rem;
}

/*Texto del calendario*/
.form-calendar-text{
    font-family: "interTight";
    color: var(--darkviolet);
    font-size: 1.25rem;
}


/*----------------Media Queries----------------*/

@media (max-width: 1024px){
    .form-text02 {
        width: 80%;
        margin: auto;
    }
    .form-container {
        max-width: 80%; 
    }
}

@media (max-width: 700px) {
    .form-main-container{
        padding-top: 4rem;
        padding-bottom: 4rem;
        background: linear-gradient(30deg, rgba(61,17,109,1) 0%, rgba(247,245,249,1) 30%, rgba(243,245,247,1) 70%, rgba(48,230,145,1) 100%);
    }
    .form-text01 {
        font-size: 2.5rem;
    }
    .form-text02 {
        font-size: 1.375rem;
        width: 90%;
    }
    .form-container {
        max-width: 90%;
    }
    .form-button-container{
        width: 100%;
        margin: auto;
        margin-top: 1.875rem;
    }
}

@media (max-width: 500px){
    .form-text01 {
        font-size: 1.875rem;
    }
    .form-text02 {
        font-size: 1.25rem;
    }
}


.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.popup {
background: white;
padding: 2rem;
border-radius: 10px;
width: 90%;
max-width: 600px;
text-align: center;
}
.popup p{
    font-size: 16px;
    padding: 10px 0;
     width: 100%;
}

.popup h2{
    font-size: 30px;
    padding-bottom: 5px;
    width: 100%;
}


