/*Contenedor principal*/
.footer-container{
    background-color: var(--black);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/*Contenedor del logo*/
.footer-logo-container{
    width: 16.875rem;
}

/*Logo*/
.footer-logo{
    width: 100%;
}

/*Contenedor de enlaces y copyright*/
.footer-copy-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 4.375rem;
}

/*Copyright*/
.copyright{
    color: white;
    font-family: "interTight";
    text-align: center;
    width: 280px;
    letter-spacing: 1px;
    margin: auto;
    font-size: .9375rem;
}

/*Copyright en movile*/
.copy-movile{
    display: none;
}

/*Enlace de copyright*/
.copyright-link{
    color: var(--lightgreen);
    text-decoration: none;
    font-family: "interTight-medium";
    transition:  color 0.3s ease;
    margin-top: .3125rem;
    font-size: .9375rem;
}
a:hover{
    cursor:pointer
}

/*Hover*/
.copyright-link:hover{
    color: #57d89f;
    background-color: #230a33;
    padding: 1px 15px 1px 15px;
    border-radius: .9375rem;
    border: 0.5px inset #57d89f;
}

/*Contenedor de links*/
.footer-links-container{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    width: 16.875rem;
}

/*Bordes estéticos*/
.footer-border{
    border-bottom: 1px solid var(--lightgreen);
    width: 15.625rem
}

/*Links*/
.footer-links{
    text-decoration: none;
    color: white;
    font-size: .9375rem;
    font-family: "InterTight";
    transition: color 0.3s ease, transform 0.3s ease;
}

/*Hover de los links*/
.footer-links:hover {
    color: var(--lightgreen);
    transform: scale(1.3);
}

/*Contenedor de información*/
.footer-info-container{
    display: flex;
    flex-direction: column;
    gap: .9375rem;
    width: 16.875rem;
}

/*Títulos*/
.footer-info-title{
    color: var(--lightgreen);
    font-family: "interTight";
    letter-spacing: .0625rem;
    font-size: .9375rem;
}

/*Info*/
.footer-info{
    color: white;
    font-family: "InterTight";
    letter-spacing: .0625rem;
    font-size: .9375rem;
}

/*----------------Media Queries----------------*/

@media(max-width:1170px){
    .footer-logo-container{
        width: 14.375rem;
    }
    .footer-info-container{
        width: 14.375rem;
    }
}

@media(max-width:890px){
    .footer-logo-container{
        width: 12.5rem;
    }
    .footer-info-container{
        width: 12.5rem;
    }
}

@media(max-width:760px){
    .footer-container{
        flex-direction: column;
        padding-top: 4rem;
        padding-bottom: 4rem;
        gap: 3.125rem;
    }
    .footer-copy-links{
        margin-top: 0;
    }
    .copyright{
        display: none;
    }
    .copy-movile{
        display: block;
    }
    .footer-logo-container{
        width: 15.625rem;
    }
    .footer-info-container{
        width: 21.875rem;   
    }
    .footer-info-title{
        text-align: center;
    }
    .footer-info{
        text-align: center;
    }
}

@media(max-width:550px){
    .footer-container{
        gap: 2.5rem
    }
    .footer-logo-container{
        width: 11.25rem;
    }
    .footer-info-container{
        width: 12.5rem;
    }
}

@media(max-width:400px){
    .footer-container{
        gap: 1.875rem
    }
    .footer-logo-container{
        width: 9.375rem;
    }
}