/*Contenedor principal*/
.principios-main-container{
    overflow: hidden;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/*Introducción*/
.principios-intro{
    font-family: "interTight";
    text-align: center;
    color: var(--black);
    font-size: 1.875rem;
    width: 62.5rem;
    margin: auto;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

/*Contenedor de cada principio*/
.principios-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9.375rem;
    padding-top: 60px;
    padding-bottom: 3.75rem;
}

/*Corrección de padding al último contenedor*/
.principios-padding{
    padding-bottom: 0;
}

/*Contenedor de imagen*/
.principios-image-container{
    overflow: hidden;
    border-radius: 2.5rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    width: 37.5rem;
    height: 37.5rem;
}

/*Imágen*/
.principios-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*Segundo contenedor*/
.principios-second-container{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

/*Contenedor de texto*/
.principios-text-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 37.5rem;
    gap: .625rem;
}

/*Principio*/
.principios-title{
    font-family: "archivo";
    font-size: 2.1875rem;
    color: var(--black);
    text-align: left;
}

/*Resaltado en títulos*/
.color-title{
    background:var(--lightgreen);
    border-radius: 1.5625rem;
    color: var(--black);
    padding: 2px 15px;
}

/*Descripción*/
.principios-description{
    font-family: "interTight";
    color: var(--black);
    font-size: 1.25rem;
    letter-spacing: 1px;
    text-align: left;
}

/*Fondo oscuro*/
#dark-background{
    background-color: var(--black)
}

/*Letras blancas*/
#light-font{
    color: white;
}

/*----------------Media Queries----------------*/

@media (max-width: 1460px){
    .principios-container{
        gap: 6.25rem;
    }
    .principios-text-container{
        width: 28.125rem;
    }
    .principios-title{
        font-size: 1.875rem;
    }
    .principios-image-container{
        width: 31.25rem;
        height: 31.25rem;
    }
}

@media (max-width: 1170px){
    .principios-intro{
        font-size: 1.5625rem;
        width: 80%;
        margin-bottom: 10px;
    }
    .principios-container{
        gap: 3.125rem;
    }
    .principios-text-container{
        width: 25rem;
        gap: .3125rem;
    }
    .principios-title{
        font-size: 1.5625rem;
    }
    .principios-description{
        font-size: 1.125rem;
    }
    .principios-image-container{
        width: 28.125rem;
        height: 28.125rem;
    }
}

@media (max-width: 950px){
    .principios-intro{
        font-size: 22px;
        margin-bottom: 5px;
    }
    .principios-second-container{
        gap: 1.25rem;
    }
    .principios-text-container{
        width: 21.875rem;
    }
    .principios-title{
        font-size: 1.375rem;
    }
    .principios-description{
        font-size: 1rem;
    }
    .principios-image-container{
        width: 25rem;
        height: 25rem;
    }
}

@media (max-width: 830px){
    .principios-intro{
        width: 90%;
        font-size: 1.5625rem;
        margin-bottom: .625rem;
    }
    .principios-container{
        flex-direction: column;
        gap: .9375rem;
    }
    .principios-text-container{
        width: 80%;
        margin: auto;
    }
    .principios-title{
        font-size: 1.875rem;
        text-align: center;
    }
    .principios-description{
        font-size: 1.25rem;
        text-align: center;
    }
    .principios-image-container{
        width: 28.125rem;
        height: 28.125rem;
    }
}

@media (max-width: 700px){
    .principios-intro{
        font-size: 22px;
    }
    .principios-main-container{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .principios-container{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    .principios-padding{
        padding-bottom: 0;
    }
    .principios-text-container{
        width: 90%;
    }
    .principios-title{
        font-size: 1.5625rem;
    }
    .principios-description{
        font-size: 1.125rem;
    }
}

@media (max-width: 550px){
    .principios-image-container{
        width: 25rem;
        height: 25rem;
    }
}

@media (max-width: 460px){
    .principios-intro{
        font-size: 20px;
    }
    .principios-title{
        font-size: 1.375rem;
    }
    .principios-description{
        font-size: 1rem;
    }
    .principios-image-container{
        width: 21.875rem;
        height: 21.875rem;
    }
}

@media (max-width: 390px){
    .principios-image-container{
        width: 330px;
        height: 20.625rem;
    }
}

@media (max-width: 350px){
    .principios-image-container{
        width: 315px;
        height: 19.6875rem;
    }
}