/*Contenedor principal*/
.principios-main-container{
    padding-top: 5rem;
    background-color: rgb(248, 248, 248);
    overflow: hidden;
}

/*Introducción*/
.principios-intro{
    font-family: "interTight";
    text-align: center;
    color: grey;
    font-size: 1.5625rem;
}

/*Contenedor de cada principio*/
.principios-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9.375rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/*Fondo Verde*/
.principios-image-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid #12824C;
    transform: translate(20px, 20px);
    transform-origin: top left;
    pointer-events: none; 
    background: #12824C;
}

/*Fondo verde invertido*/
.principios-background-position::before {
    transform: translate(-25px, 20px);
}


/*Contenedor de imagen*/
.principios-image-container{
    position: relative;
    width: 43.75rem;
    height: 34.375rem;
}

/*Imágen*/
.principios-img{
    position: relative;
    width: 100%;
    height: 100%;
}

/*Segundo contenedor*/
.principios-second-container{
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

/*Contenedor de texto*/
.principios-text-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 37.5rem;
    gap: .625rem;
}

/*Principio*/
.principios-title{
    font-family: "archivo";
    font-size: 2.1875rem;
    color: var(--black);
}

/*Fondo Violeta*/
.color-title{
    background:#8048ff;
    color:#fff;
    padding: 2px 15px;
    clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
}

/*Descripción*/
.principios-description{
    font-family: "interTight";
    color: grey;
    font-size: 1.25rem;
}

/*Fondo oscuro*/
#dark-background{
    background-color: var(--black)
}

/*Letras blancas*/
#light-font{
    color: white;
}

/*----------------Media Queries----------------*/

@media (max-width: 1550px){
    .principios-container{
        gap: 6.25rem;
    }
    .principios-text-container{
        width: 28.125rem;
    }
    .principios-second-container{
        gap: 1.5625rem;
    }
    .principios-title{
        font-size: 1.5625rem;
    }
    .principios-description{
        font-size: 1.125rem;
    }
    .principios-image-container{
        width: 31.25rem;
        height: 21.875rem;
    }
}

@media (max-width: 1170px){
    .principios-intro{
        font-size: 1.25rem;
    }
    .principios-container{
        gap: 3.125rem;
    }
    .principios-text-container{
        width: 25rem;
    }
    .principios-title{
        font-size: 1.25rem;
    }
    .principios-description{
        font-size: 1rem;
    }
    .principios-image-container{
        width: 25rem;
        height: 15.625rem;
    }
    .principios-image-container::before{
        transform: translate(10px, 10px) 
    }
    .principios-background-position::before {
        transform: translate(-18px, 10px);
    }
}

@media (max-width: 950px){
    .principios-container{
        gap: 1.25rem;
    }
    .principios-text-container{
        width: 21.875rem;
    }
    .principios-image-container{
        width: 21.875rem;
        height: 12.5rem;
    }
}

@media (max-width: 760px){
    .principios-intro{
        font-size: 1.5625rem;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .principios-main-container{
        padding-top: 4rem;
    }
    .principios-container{
        flex-direction: column;
        gap: 1.875rem
    }
    .principios-text-container{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .principios-title{
        font-size: 25px;
    }
    .principios-description{
        font-size: 1.25rem;
    }
    .principios-image-container{
        width: 30rem;
        height: 25rem;
    } 
}

@media (max-width: 650px){
    .principios-container{
        padding-top: 4rem;
    }
    .principios-intro{
        font-size: 1.25rem;
    }
    .principios-text-container{
        width: 90%;
    }
    .principios-title{
        font-size: 1.25rem;
    }
    .principios-description{
        font-size: 1.125rem;
    }
    .principios-image-container{
        width: 23.75rem;
        height: 18.75rem;
    } 
}

@media (max-width: 450px){
    .principios-image-container{
        width: 18.75rem;
        height: 250px;
    }
    .principios-image-container::before{
        transform: translate(2px, 2px) 
    }
    .principios-background-position::before {
        transform: translate(-9px, 2px);
    } 
}