/*Contenedor principal*/
.contacto-main-container{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/*Contenedor de mensdajes y form*/
.contacto-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

/*Contenedor de mensajes*/
.contacto-mensaje-container{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

/*Contenedor de mensake guardia eléctrica*/
.contacto-mensaje-electrica{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.875rem;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--darkgreen);
    border-radius: 1.25rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3)
}

/*Contenedor de mensake NAVE*/
.contacto-mensaje-nave{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.875rem;
    width: 28.125rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--darkviolet);
    border-radius: 1.25rem;
    height: 11.875rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3)
}

/*Numero de contacto*/
.contacto-number{
    color: white;
    font-family: "archivo";
    font-size: 1.5625rem;
    text-align: center;
}

/*Mensaje*/
.contacto-mensaje{
    text-align: center;
    color: white;
    font-family: "interTight";
    font-size: 1.5625rem;
}

/*Contenedor de formulario*/
.contacto-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50rem;
    margin-top: 1.875rem;
}

/*Indicación de formulario*/
.contacto-form-title{
    font-family: "archivo";
    color: var(--darkviolet);
    font-size: 35px;
}

/*Botón de enviar*/
.contactos-button-container{
    width: 11.25rem;
}

/*Contenedor de info*/
.contacto-info-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    background-color: var(--grey);
    padding-top: 40px;
    padding-bottom: 2.5rem
}

/*Información*/
.contacto-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .625rem;
}

/*Titulo de infos*/
.contacto-info-title{
    color: var(--darkgreen);
    font-family: "archivo";
    font-size: 2.1875rem;
}

/*Color para NAVE*/
.contacto-color{
    color: var(--darkviolet);
}

/*Texto de infos*/
.contacto-info-text{
    font-size: 1.375rem;
    font-family: "interTight";
    text-align: left;
    letter-spacing: .0625rem;
}

/*Alineacion de info*/
.contacto-info-align{
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

/*Iconos de nave*/
.contacto-icons{
    display: flex;
    justify-content: center;
    gap: 5rem;
}

/* Estilos personalizados para SweetAlert al "enviar"*/
.swal2-title {
    font-family: 'Archivo';
    color: var(--black);
    }

.swal2-content {
    font-family: 'interTight';
    color: var(--black);
    font-size: 16px;

}
.swal2-confirm {
    font-family: 'interTight',
}
.swal2-popup-custom {
    border: 5px solid #12824c;
    border-radius: 20px;
}

/*----------------Media Queries----------------*/

@media (max-width: 1350px){
    .contacto-form-container{
        width: 600px;
    }
    .contacto-info-container{
        flex-direction: column;
        gap: 30px;
        background-color: transparent;
        padding: 0;
    }
    .contacto-info{
        background-color: var(--grey);
        padding-top: 30px;
        padding-bottom: 1.875rem;
    }
} 

@media (max-width: 1170px){
    .contacto-container{
        flex-direction: column-reverse;
    }
    .contacto-form-container{
        margin-top: 0;
        width: 80%;
    }
    .contacto-mensaje-container{
        flex-direction: row;
    }
}

@media (max-width: 1000px){
    .contacto-mensaje-container{
        flex-direction: column;
    }
    .contacto-mensaje-electrica{
        width: 80%;
    }
    .contacto-mensaje-nave{
        width: 80%;
    }
}

@media (max-width: 700px){
    .contacto-main-container{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .contacto-form-container{
        width: 90%;
    }
    .contactos-button-container{
        width: 100%;
    }
    .contacto-mensaje-electrica{
        width: 90%;
    }
    .contacto-mensaje-nave{
        width: 90%;
    }
    .contacto-info-text{
        width: 90%;
        margin: auto;
    }
    .contacto-info-container{
        margin-top: 50px;
        
    }
}

@media (max-width: 550px){
    .contacto-form-title{
        font-size: 1.875rem;
    }
    .contacto-info-title{
        font-size: 1.875rem;
    }
    .contacto-info-text{
        font-size: 20px;
    }
}

@media (max-width: 340px){
    .contacto-info-text{
        font-size: 18px;
    }
}