/*Contenedor principal*/
.consejo-container{
    padding-top: 5rem;
    padding-bottom: 5rem;
    overflow: hidden;
    background-color: #daedeb;
}

/*Contenedor de textos*/
.consejo-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .9375rem;
}

/*Título principal*/
.consejo-title{
    font-family: "archivo-black";
    color: var(--darkviolet);
    font-size: 2.5rem;
    text-align: center;
    margin-left: .625rem;
    margin-right: .625rem;
    line-height: 40px;
}

/*Descripción*/
.consejo-text{
    font-family: "interTight";
    width: 68.75rem;
    text-align: center;
    font-size: 1.5625rem;
}

/*Contenedor de acordeones*/
.consejo-accordion-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.875rem;
}

/*Contenido de acordeón*/
.consejo-accordion-content{
    margin-left: .9375rem;
    font-family: "interTight";
    color: var(--black);
}

/*----------------Media Queries----------------*/

@media (max-width: 1230px){
    .consejo-accordion-container{
        width: 90%;
    }
    .consejo-text{
        font-size: 1.375rem;
        width: 80%;
    }
}

@media (max-width: 900px){
    .consejo-text{
        font-size: 20px;
    }
}

@media (max-width: 700px){
    .consejo-container{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .consejo-text-container{
        gap: .625rem;
    }
    .consejo-title{
        font-size: 35px;
    }
    .consejo-text{
        font-size: 18px;
        width: 90%;
    }
}