/*Biblioteca contenedor principal*/
.biblioteca-main-container{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/*Título*/
.biblioteca-title{
    text-align: center;
    font-size: 2.5rem;
    font-family: "archivo";
    color: var(--darkgreen);
}

/*Contenedor de acordeón*/
.biblioteca-accordion-container{
    max-width: 1200px;
    margin: 80px auto;
    margin-top: 1.25rem;
}

/*Contenido de acordeón*/
.biblioteca-accordion-details{
    font-family: "interTight";
}

/*Servicios contenedor*/
.biblioteca-servicios-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*Servicios*/
.biblioteca-servicios{
    display: flex;
    flex-direction: column;
    gap: .3125rem;
    width: 62.5rem;
    border: .1875rem solid var(--darkgreen);
    padding: 1.875rem;
}

/*Titulo de servicios*/
.biblioteca-servicios-title{
    font-family: "Archivo";
    color: var(--darkgreen);
    font-size: 1.5625rem;
}

/*Texto de servicios*/
.biblioteca-servicios-text{
    font-family: "interTight";
    color: var(--black);
    line-height: 1.5rem;
    margin-left: .9375rem;
}

/*Enlace*/
.biblioteca-link{
    text-decoration: none;
    color: var(--darkgreen);
    font-family: "archivo";
}

/*Dirección*/
.biblioteca-adress{
    font-family: "archivo";
    color: var(--darkgreen);
}

/*Contenedor de imágen*/
.biblioteca-image-container{
    width: 21.875rem;
}

/*----------------Media Queries----------------*/

@media (max-width: 1400px){
    .biblioteca-servicios{
        width: 46.875rem;
    }
}

@media (max-width: 1300px){
    .biblioteca-accordion-container{
        width: 43.75rem;
    }
    .biblioteca-servicios{
        width: 28.125rem;
    }
    .biblioteca-image-container{
        width: 18.75rem;
    }
}

@media (max-width: 1000px){
    .biblioteca-title{
        font-size: 2.375rem;
    }
    .biblioteca-servicios{
        width: 25rem;
    }
    .biblioteca-image-container{
        width: 15.625rem;
    }
}

@media (max-width: 760px){
    .biblioteca-main-container{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .biblioteca-title{
        font-size: 2.1875rem;
        margin-left: 5%;
        margin-right: 5%;
    }
    .biblioteca-accordion-container{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
    }
    .biblioteca-servicios-container{
        flex-direction: column;
        gap: 3rem;
    }
    .biblioteca-servicios{
        width: 25rem;
    }
    .biblioteca-servicios{
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 600px){
    .biblioteca-title{
        font-size: 1.875rem;
    }
    .biblioteca-servicios-title{
        font-size: 1.25rem;
    }
    .biblioteca-servicios-text{
        font-size: .9375rem;
    }
}

@media (max-width: 450px){
    .biblioteca-main-container{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .biblioteca-title{
        font-size: 1.5625rem;
    }
    .biblioteca-servicios{
        width: 90%;
    }
    .biblioteca-image-container{
        width: 12.5rem;
    }
}