/*Header*/
.header-biblioteca-container{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), 
    url("../../../assets/images/headers/header-biblioteca.jpg"); 
    background-size: cover;
    background-position: center 85%;
    height: 25.625rem;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

/*Título en header*/
.header-biblioteca-title{
    color: white;
    font-family: "archivo";
    font-size: 4.375rem;
    margin-left: 10%;
    margin-top: 6.25rem;
    margin-right: 12.5rem;
}

/*Resaltado para titulo en header*/
.header-biblioteca-resaltado{
    color: var(--newgreen);
}

/*Contenedor principal*/
.biblioteca-main-container{
    overflow: hidden;
}

/*Contenedor de acordeón*/
.biblioteca-accordion-container{
    background-color: var(--grey);
    padding-top: 5rem;
    padding-bottom: 2.5rem;
}

/*Acordeón*/
.biblioteca-accordion{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/*Estilo para sumario*/
.biblioteca-accordion-content{
    font-family: "interTight";
    padding-left: 1.875rem;
    font-size: 1.5625rem;
    font-weight: bold;
    letter-spacing: 1px;
}

/*Contenido de acordeón*/
.biblioteca-accordion-details{
    font-family: "interTight";
    padding-top: 10px;
    font-size: 1.25rem;
    text-align: justify;
    padding-left: .625rem;
    padding-right: .625rem;
    padding-bottom: .625rem;
    color: var(--black);
}

/*Resaltado en texto*/
.biblioteca-resaltado{
    text-transform: uppercase;
    color: var(--darkgreen);
    font-weight: bold;
}

/*Servicios contenedor*/
.biblioteca-servicios-container{
    display: flex;
    justify-content: center;
    gap: 3.125rem;
    padding-top: 4rem;
    background: linear-gradient(307deg, rgba(196,228,212,1) 0%, rgba(255,255,255,1) 33%);
}

/*Contenedor de texto*/
.biblioteca-servicios-text{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 700px;
}

/*Titulo de servicios*/
.biblioteca-servicios-title{
    font-family: "archivo-black";
    color: var(--darkviolet);
    font-size: 2.8125rem;
    text-align: center;
}

/*Contenedor de lisa*/
.biblioteca-servicios-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*Texto de servicios*/
.biblioteca-servicios{
    display: flex;
    align-items: center;
    color: var(--black);
    font-family: "interTight";
    letter-spacing: .0625rem;
    font-size: 1.5625rem;
    list-style: none;
}

/*Enlace*/
.biblioteca-link{
    text-decoration: none;
    padding-left: .375rem;
    color: var(--darkviolet);
    font-weight: bold;
}

/*Contenedor de imágen*/
.biblioteca-img-container{
    margin-top: 1.875rem;
    width: 25rem;
    height: 500px;
    overflow: hidden;
    border-radius: 2.5rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3)
}

/*Imágen*/
.biblioteca-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*Contenedor de dirección*/
.biblioteca-adress-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    padding-left: 2.5rem;
}

/*Dirección*/
.biblioteca-adress{
    color: var(--darkviolet);
    font-size: 1.5625rem;
    font-family: "interTight";
    letter-spacing: .0625rem;
    font-weight: bold;
}

/*Dirección para movile*/
.biblioteca-adress-containerMovile{
    display: none;
}

/*----------------Media Queries----------------*/

@media(max-width:1230px){
    .biblioteca-accordion{
        width: 90%;
    }
    .biblioteca-servicios-container{
        gap: 1.875rem;
    }
}

@media(max-width:1160px){
    .biblioteca-accordion-content{
        font-size: 1.375rem;
    }
    .biblioteca-servicios-text{
        width: 37.5rem;
    }
    .biblioteca-servicios-list{
        gap: 5px;
    }
    .biblioteca-servicios{
        font-size: 22px;
    }
    .biblioteca-img-container{
        width: 21.875rem;
        height: 28.125rem;
    }
    .biblioteca-adress{
        font-size: 1.375rem;
    }
}

@media(max-width:1020px){
    .header-biblioteca-title{
        font-size: 60px;
    }
    .biblioteca-accordion-content{
        font-size: 20px;
    }
    .biblioteca-accordion-details{
        font-size: 1.125rem;
    }
    .biblioteca-servicios-container{
        padding-top: 2.5rem;
        gap: 10px;
    }
    .biblioteca-servicios-text{
        width: 31.25rem;
    }
    .biblioteca-servicios-title{
        font-size: 2.5rem;
    }
    .biblioteca-servicios-list{
        gap: 0;
    }
    .biblioteca-servicios{
        font-size: 18px;
    }
    .biblioteca-img-container{
        width: 18.75rem;
        height: 25rem;
    }
    .biblioteca-adress{
        font-size: 1.125rem;
    }
}


@media(max-width:830px){
    .biblioteca-servicios-container{
        flex-direction: column;
    }
    .biblioteca-servicios-text{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .biblioteca-servicios{
        font-size: 22px;
    }
    .biblioteca-img-container{
        display: none;
    }
    .biblioteca-adress-container{
        display: none;
    }
    .biblioteca-adress-containerMovile{
        display: block;
        padding-top: 30px;
        padding-bottom: 5rem;
        padding-left: 10%;
    }
    .biblioteca-adress{
        font-size: 1.25rem;
    }
}

@media(max-width:808px){
    .header-biblioteca-title{
        font-size: 55px;
    }
}

@media(max-width:759px){
    .header-biblioteca-title{
        font-size: 50px;
    }
}

@media(max-width:700px){
    .header-biblioteca-container{
        height: 21.875rem;
    }
    .header-biblioteca-title{
        margin-top: 45px;
        width: 80%;
        font-size: 2.8125rem;
        text-align: center;
    }
    .biblioteca-accordion-container{
        padding-top: 4rem;
    }
    .biblioteca-accordion-content{
        font-size: 1.125rem;
    }
    .biblioteca-servicios-container{
        padding-top: 1.25rem;
    }
    .biblioteca-servicios-text{
        gap: .625rem;
    }
    .biblioteca-servicios-title{
        font-size: 35px;
    }
    .biblioteca-servicios{
        font-size: 18px;
    }
    .biblioteca-adress-containerMovile{
        padding-bottom: 4rem;
    }
}

@media(max-width:500px){
    .biblioteca-adress{
        font-size: 1.125rem;
    }
}

@media(max-width:420px){
    .biblioteca-adress-containerMovile{
        padding-top: 1.25rem;
        padding-left: 1.25rem;
    }
}

@media(max-width:370px){
    .biblioteca-adress-containerMovile{
        padding-left: .9375rem;
    }
    .biblioteca-adress{
        font-size: 1rem;
    }
}