/*Contenedor principal*/
.noticia3-main-container{
    padding-bottom: 5rem;
    overflow: hidden;
}

/*Contenedor de imágen y texto principales*/
.noticia3-secondary-container{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
    background: linear-gradient(233deg, rgba(61,17,109,1) 0%, rgba(217,220,221,1) 35%, rgba(221,220,223,1) 50%, rgba(215,212,218,1) 75%, rgba(48,230,145,1) 100%);
}

/*Contenedor de imágen principal*/
/*Aca podes editar las dimensiones de la imágen principal*/
.noticia3-mainImage-container{
    width: 600px;
    height: 37.5rem;
    overflow: hidden;
    border-radius: 2.5rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

/*Imágen principal*/
.noticia3-mainImage{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*Texto principal de la noticia*/
.noticia3-mainDescription{
    font-family: "interTight";
    color: var(--black);
    font-size: 1.25rem;
    width: 75rem;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.125rem;
}

/*Contenedor de información extra*/
.noticia3-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    gap: 100px;
}

/*Contenedor de imágenes extra*/
/*Aca podes editar las dimensiones de imágenes secundarias */
.noticia3-image-container{
    width: 28.125rem;
    height: 28.125rem;
    overflow: hidden;
    border-radius: 2.5rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

/*Imágenes extra*/
.noticia3-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*Descripción extra*/
.noticia3-description{
    font-family: "interTight";
    color: var(--black);
    text-align: left;
    font-size: 1.25rem;
    width: 37.5rem;
}

/*Contenedor del botón*/
.noticia3-buttonContainer{
    display: flex;
    justify-content: center;
    background-color: var(--grey);
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

/*Botón*/
.noticia3-button{
    width: 15.625rem;
}

/*----------------Media Queries----------------*/

@media(max-width:1280px){
    .noticia3-mainImage-container{
        width: 31.25rem;
        height: 31.25rem;
    }
    .noticia3-mainDescription{
        font-size: 1.375rem;
        width: 80%;
    }
    .noticia3-container{
        gap: 50px;
    }
    .noticia3-image-container{
        width: 25rem;
        height: 400px;
    }
    .noticia3-description{
        font-size: 1.125rem;
        width: 28.125rem;
    }
}

@media(max-width:990px){
    .noticia3-container{
        gap: 30px;
    }
    .noticia3-image-container{
        width: 21.875rem;
        height: 21.875rem;
    }
    .noticia3-description{
        font-size: 1.125rem;
        width: 25rem;
    }
}

@media(max-width:830px){
    .noticia3-container{
        flex-direction: column;
        gap: 30px;
    }
    .noticia3-image-container{
        width: 25rem;
        height: 25rem;
    }
    .noticia3-description{
        font-size: 1.25rem;
        width: 80%;
        margin: auto;
    }
}

@media(max-width:700px){
    .noticia3-main-container{
        padding-bottom: 4rem;
    }
    .noticia3-secondary-container{
        padding-top: 4rem;
    }
    .noticia3-mainImage-container{
        width: 28.125rem;
        height: 28.125rem;
    }
    .noticia3-mainDescription{
        width: 90%;
    }
    .noticia3-description{
        width: 90%;
    }
    .noticia3-button{
        width: 90%;
    }
}

@media(max-width:500px){
    .noticia3-mainImage-container{
        width: 25rem;
        height: 25rem;
    }
    .noticia3-image-container{
        width: 21.875rem;
        height: 21.875rem;
    }
    .noticia3-description{
        text-align: center;
    }
}

@media(max-width:430px){
    .noticia3-secondary-container{
        gap: .9375rem;
    }
    .noticia3-mainImage-container{
        width: 20rem;
        height: 320px;
    }
    .noticia3-container{
        gap: .9375rem;
    }
    .noticia3-image-container{
        width: 16.875rem;
        height: 16.875rem;
    }
}
