.logo-header{
    width: 13.125rem;
}

/*----------------Media Queries----------------*/

@media(max-width:1199px){
    .logo-header{
        width: 11.25rem;
    }
}

/*header mobile */
@media only screen and (max-width:900px){
    div.css-1xomo8h-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
        width: 100%;
        right: 30%;
        margin: 0 auto;
    
    }
    #menu-appbar > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.MuiMenu-paper.MuiMenu-paper.css-1xomo8h-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
        left:0.5%!important;
    }

}

@media(max-width:899px){
    .logo-header{
        width: 9.375rem;
        padding-bottom: 1.25rem;
    }
}

@media(max-width:599px){
    .logo-header{
        width: 7.5rem;
        padding-bottom: 1.875rem;
    }
}


