/*Contenedor principal*/
.noticia1-main-container{
    padding-bottom: 5rem;
    overflow: hidden;
}

/*Contenedor de imágen y texto principales*/
.noticia1-secondary-container{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
    background: linear-gradient(233deg, rgba(61,17,109,1) 0%, rgba(217,220,221,1) 35%, rgba(221,220,223,1) 50%, rgba(215,212,218,1) 75%, rgba(48,230,145,1) 100%);
}

/*Contenedor de imágen principal*/
/*Aca podes editar las dimensiones de la imágen principal*/
.noticia1-mainImage-container{
    width: 600px;
    height: 37.5rem;
    overflow: hidden;
    border-radius: 2.5rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3)
}

/*Imágen principal*/
.noticia1-mainImage{
    width: 100%;
    height: 100%;
}

/*Texto principal de la noticia*/
.noticia1-mainDescription{
    font-family: "interTight";
    color: var(--black);
    font-size: 1.5625rem;
    width: 70%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.125rem;
}

/*Contenedor de información extra*/
.noticia1-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    gap: 100px;
}

/*Contenedor de imágenes extra*/
/*Aca podes editar las dimensiones de imágenes secundarias */
.noticia1-image-container{
    width: 28.125rem;
    height: 28.125rem;
    overflow: hidden;
    border-radius: 2.5rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3)
}

/*Imágees extra*/
.noticia1-image{
    width: 100%;
    height: 100%;
}

/*Descripción extra*/
.noticia1-description{
    font-family: "interTight";
    color: var(--black);
    text-align: justify;
    font-size: 1.25rem;
    width: 37.5rem;
}

/*Contenedor del botón*/
.noticia1-buttonContainer{
    display: flex;
    justify-content: center;
    background-color: var(--grey);
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

/*Botón*/
.noticia1-button{
    width: 12.5rem;
}

/*----------------Media Queries----------------*/

@media(max-width:1460px){

}

