/*Contenedor principal*/
.servicio-main-container{
    overflow: hidden;
}

/*Priomer contenedor*/
.servicio-first-container{
    background: linear-gradient(233deg, rgba(61,17,109,1) 0%, rgba(217,220,221,1) 35%, rgba(221,220,223,1) 50%, rgba(215,212,218,1) 75%, rgba(48,230,145,1) 100%);
}

/*Contenedor de acordeón*/
.servicio-accordion-container{
    max-width: 62.5rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    padding-bottom: 4rem;
}

/*Accordeón texto*/
.servicio-accordion-content{
    font-family: "interTight";
    padding-left: 1.875rem;
    font-size: 1.5625rem;
    font-weight: bold;
    letter-spacing: 1px;
}

/*Contenedor de detalles del acordeón*/
.servicio-accordion-detailsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .625rem;
}

/*Detalles de acordeón*/
.servicio-accordion-details{
    font-family: "interTight";
    padding-top: 1.25rem;
    font-size: 1.375rem;
    text-align: justify;
    padding-left: .625rem;
    padding-right: .625rem;
    padding-bottom: .625rem;
    color: var(--black);
}

/*Avisos*/
.servicio-usuarios{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    padding-bottom: 2.5rem;
}

/*Gap para el primer contenedor*/
#servicio-usuarios-gap{
    gap: 1.875rem;
}

/*Contenedor de texto*/
.servicio-usuarios-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 1.875rem;
}

/*Título de aviso*/
.servicio-usuarios-title{
    font-family: "interTight-medium";
    color: var(--darkviolet);
    font-size: 1.5625rem;
    padding-left: .3125rem;
    letter-spacing: .0625rem;
}

/*Descripción de aviso*/
.servicio-usuarios-description{
    font-family: "interTight";
    font-size: 1.375rem;
    width: 31.25rem;
}

/*Links*/
.servicio-enlace{
    text-decoration: none;
    color: var(--black);
}

/*Contenedor de imagen*/
.servicio-image-container{
    width: 25rem;
    height: 25rem;
    overflow: hidden;
    border-radius: 2.5rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3)
}

/*Imagen 1*/
.servicio-image01{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*Imagen 2*/
.servicio-image02{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: top;
}

/*Aviso de corte*/
.servicio-corte{
    font-family: "interTight";
    background-color: var(--darkviolet);
    text-align: center;
    color: var(--white);
    font-size: 1.375rem;
    width: 56.25rem;
    margin: auto;
    border-radius: 2.5rem;
    padding: 1.875rem;
    margin-bottom: 2.5rem;
    letter-spacing: .0625rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3)
}

/*Titulo de informacion*/
.servicio-info-title{
    font-family: "archivo-black";
    color: var(--darkviolet);
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    background-color: var(--newgreen);
    padding: .625rem;
}

/*Contenedor de información*/
.servicio-info-container{
    background: linear-gradient(307deg, rgba(48,230,145,1) 0%, rgba(217,220,221,1) 20%, rgba(221,220,223,1) 50%, rgba(215,212,218,1) 80%, rgba(61,17,109,1) 100%);
}

/*Contenedor de lista*/
.servicio-list-container{
    background-color: var(--white);
    width: 56.25rem;
    margin: auto;
    padding-top: 1.25rem;
    padding-left: 50px;
    padding-right: 3.125rem;
    padding-bottom: 1.875rem;
    border-radius: 0 0 80px 80px;
    box-shadow: 
    5px 5px 8px rgba(0, 0, 0, 0.3),
    -5px 5px 8px rgba(0, 0, 0, 0.3),
    0px 5px 8px rgba(0, 0, 0, 0.3);
}

/*Tipo de datos*/
.servicio-dataName{
    color: var(--darkviolet);
    font-weight: bold;
    letter-spacing: 1px;
}

/*Texto de información*/
.servicio-info-text{
    font-family: "interTight";
    color: var(--black);
    font-size: 1.375rem;
    list-style: none;
    margin-bottom: .5rem;
}

/*Segundo título*/
.servicio-info-title2{
    font-family: "archivo-black";
    color: var(--darkviolet);
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
}

/*Segundo contenedor de lista*/
.servicio-list-container2{
    display: flex;
    justify-content: center;
}

/*Descripción de segunda lista*/
.servicio-info-description{
    font-family: "interTight";
    color: var(--black);
    font-size: 1.375rem;
    letter-spacing: .0625rem;
    width: 31.25rem;
    margin: auto;
    text-align: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

/*Segunda lista*/
.servicio-info-text2{
    display: flex;
    align-items: center;
    gap: .3125rem;
    font-family: "interTight";
    color: var(--black);
    font-size: 1.375rem;
    list-style: none;
    letter-spacing: .0625rem;
    margin-left: 10px;
    margin-right: .625rem;
}

/*Contenedor de botones*/
.servicio-buttonContainer{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5rem;
    margin-top: 4rem;
}

/* Modal al principio */
.guardia-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Contenido del modal */
.guardia-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: 5px solid var(--newgreen);
    text-align: center;
    max-width: 500px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s;
}

/*Título del modal*/
.guardia-modal-title{
    font-family: "archivo";
    font-size: 25px;
    color: var(--darkviolet);
}

/*Descripción del modal*/
.guardia-modal-description{
    font-family: "intertight";
    color: var(--black);
    font-size: 1.0625rem;
    padding-top: .3125rem;
}

/* Animación de entrada */
@keyframes fadeIn {
from {
    opacity: 0;
    transform: scale(0.95);
}
to {
    opacity: 1;
    transform: scale(1);
}
}

/*----------------Media Queries----------------*/

@media (max-width: 1080px){
    .servicio-accordion-container{
        max-width: 90%;
    }
    .servicio-accordion-content{
        font-size: 1.375rem;
    }
    .servicio-accordion-details{
        font-size: 1.25rem;
    }
    #servicio-usuarios-gap{
        gap: .625rem;
    }
    .servicio-usuarios{
        gap: 1.875rem;
    }
    .servicio-list-container{
        width: 80%;
    }
}

@media (max-width: 970px){
    .servicio-usuarios-text{
        gap: 1.25rem;
    }
    .servicio-usuarios-title{
        font-size: 22px;
    }
    .servicio-usuarios-description{
        font-size: 1.25rem;
        width: 400px;
    }
    .servicio-image-container{
        width: 21.875rem;
        height: 21.875rem;
    }
    .servicio-corte{
        font-size: 1.25rem;
        width: 90%;
    }
    .servicio-info-title{
        font-size: 2.1875rem;
    }
    .servicio-info-text{
        font-size: 1.25rem;
    }
    .servicio-info-title2{
        font-size: 2.1875rem;
    }
    .servicio-info-description{
        font-size: 1.25rem;
    }
}

@media (max-width: 830px){
    .servicio-accordion-container{
        padding-bottom: 3rem;
    }
    .servicio-accordion-content{
        font-size: 1.125rem;
    }
    .servicio-accordion-details{
        font-size: 1.0625rem;
    }
    .servicio-usuarios{
        flex-direction: column-reverse;
        gap: 1.25rem;
    }
    #servicio-usuarios-gap{
        flex-direction: column;
        gap: 1.25rem;
    }
    .servicio-usuarios-title{
        padding: 0;
        margin-left: 90px;
    }
    .servicio-usuarios-description{
        width: 80%;
        margin: auto;
    }
    .servicio-image-container{
        width: 28.125rem;
        height: 28.125rem;
    }
    .servicio-info-text2{
        font-size: 1.25rem;
    }
}

@media (max-width: 700px){
    .servicio-accordion-container{
        padding-top: 4rem;
        padding-bottom: 2.5rem;
    }
    .servicio-usuarios{
        padding-bottom: 1.875rem;
    }
    .servicio-usuarios-description{
        width: 90%;
    }
    .servicio-corte{
        margin-bottom: 1.875rem;
    }
    .servicio-info-title{
        font-size: 1.875rem;
    }
    .servicio-info-title2{
        font-size: 30px;
    }
    .servicio-buttonContainer{
        flex-direction: column;
        gap: 1.875rem;
        width: 90%;
        margin: auto;
        margin-top: 3.125rem;
        padding-bottom: 4rem;
    }
}

@media (max-width: 550px){
    .servicio-usuarios-text{
        gap: .625rem;
    }
    .servicio-usuarios-title{
        margin-left: 3.125rem;
        font-size: 22px;
    }
    .servicio-usuarios-description{
        font-size: 1.125rem;
    }
    .servicio-image-container{
        width: 25rem;
        height: 25rem;
    }
    .servicio-corte{
        font-size: 1.125rem;
    }
    .servicio-info-text{
        font-size: 1.125rem;
    }
    .servicio-list-container{
        padding-left: 1.875rem;
        padding-right: 1.875rem;
        padding-bottom: 1.25rem;
        padding-top: .625rem;
    }
    .servicio-info-description{
        font-size: 1.125rem;
        width: 90%;
    }
    .servicio-info-text2{
        font-size: 1.125rem;
    }
}

@media (max-width: 460px){
    .servicio-accordion-container{
        padding-bottom: 1.875rem;
    }
    #servicio-usuarios-gap{
        gap: .9375rem;
    }
    .servicio-usuarios{
        gap: .9375rem;
        padding-bottom: 1.25rem;
    }
    .servicio-usuarios-title{
        margin-left: 0;
        text-align: left;
        margin-left: 20px;
        margin-right: 10px;
    }
    .servicio-image-container{
        width: 21.875rem;
        height: 21.875rem;
    }
    .servicio-info-title{
        font-size: 1.5625rem;
        padding: .3125rem;
    }
    .servicio-list-container{
        width: 90%;
    }
    .servicio-info-title2{
        font-size: 30px;
        margin-bottom: .625rem;
        line-height: 35px;
    }
    .servicio-info-description{
        margin-bottom: .9375rem;
        margin-top: .625rem;
    }
    .servicio-buttonContainer{
        margin-top: 2.5rem;
    }
}

@media (max-width: 390px){
    .servicio-image-container{
        width: 330px;
        height: 20.625rem;
    }
}

@media (max-width: 350px){
    .servicio-image-container{
        width: 315px;
        height: 19.6875rem;
    }
}