/*Contenedor principal*/
.servicio-main-container{
    overflow: hidden;
    background: linear-gradient(30deg, rgba(61,17,109,1) 0%, rgba(247,245,249,1) 30%, rgba(243,245,247,1) 70%, rgba(48,230,145,1) 100%);
}

/*Contenedor de lista y botones*/
.servicio-container{
    padding-top: 5rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-evenly;
}

/*Contenedor de enlaces a la izquierda*/
.servicio-list-container{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--darkviolet);
    padding: 20px 30px 20px 30px;
    border-radius: .625rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3)
}

/*Enlaces a la izquierda*/
.servicio-list{
    display: flex;
    text-decoration: none;
    font-family: "archivo";
    font-size: 20px;
    cursor: pointer;
    color: white;
    transition: transform 0.2s, color 0.2s, box-shadow 0.2s;
}

/*Hover de los enlaces*/
.servicio-list:hover {
    color: var(--lightgreen);
    transform: scale(0.97);
}

.servicio-list:active {
    opacity: 0.8;
    transform: scale(0.94);
}

/* Estilo para los enlaces seleccionados */
.servicio-list.active {
    color: var(--lightgreen);
}

/*Acordeón con enlaces en mobile*/
.servicio-list-mobile{
    width: 400px;
    margin: auto;
    display: none;
}

/*Título de acordeón en mobile*/
.servicio-accordion-title{
    color: white;
    font-family: "archivo";
    font-size: 22px;
    margin-left: 10px;
}

/*Contenedor de botones*/
.servicio-button-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .9375rem; 
}

/*Botón*/
.servicio-button{
    all: unset;
    cursor: pointer;
    border: 2px solid black;
    background-color: var(--lightgreen);
    color: black;
    border-radius: 25px;
    height: 9.375rem;
    width: 11.875rem;
    padding-left: .9375rem;
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
}

/*Hover de botones*/
.servicio-button:hover {
    background-color: var(--violet); 
    color: white; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05);
}

.servicio-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/*Texto de botón*/
.servicio-button-text{
    font-family: "archivo";
    font-size: 1.125rem;
}

/*Botpon de Objetivos Sociales*/
.servicio-objetivos{
    padding-bottom: 5rem;
    width: 250px;
    margin: auto;
}

/*----Estilos de componentes dinámicos---*/

/*Contenedor principal*/
.servicioComponents-container{
    display: flex;
    flex-direction: column;
    gap: .625rem;
    width: 40.625rem;
}

/*Título*/
.servicio-title{
    font-family: "archivo";
    font-size: 2.5rem;
    color: var(--darkgreen);
}

/*Variante de título*/
.servicio-title2{
    font-family: "archivo";
    font-size: 2.5rem;
    color: var(--darkviolet);
}

/*Subtitulos y preguntas*/
.servicio-subtitles{
    font-family: "archivo";
    color: var(--darkviolet);
    font-size: 1.5625rem;
}

/*Variante de Subtitulos y preguntas*/
.servicio-subtitles2{
    font-family: "archivo";
    color: var(--darkgreen);
    font-size: 1.375rem;
}

/*Descripciones*/
.servicio-description{
    font-family: "interTight";
    font-size: 1.25rem;
}

/*Variante de Descripciones*/
.servicio-description2{
    font-family: "interTight";
    font-size: 1.125rem;
}

/*Enlaces en descripción*/
.servicio-link{
    color: var(--darkgreen);
    text-decoration: none;
    font-weight: bold;
}

/*Variante de enlaces de descripción*/
.servicio-link2{
    color: var(--darkviolet);
    text-decoration: none;
    font-weight: bold;
}

/*Enlaces de telefonos*/
.servicio-telefono{
    color: var(--darkgreen);
    font-weight: bold;
    font-family: "archivo";
    text-decoration: none;
    font-size: 22px;
}

/*Enlace de "Más información"*/
.servicio-info{
    color: var(--darkgreen);
    font-weight: bold;
    font-family: "archivo";
    text-decoration: none;
    font-size: 22px;
    transition: color 0.2s, transform 0.2s, text-shadow 0.2s;
}

/*Hover*/
.servicio-info:hover {
    color: var(--violet);
}

.servicio-info:active {
    opacity: 0.8;
}

/*----------------Media Queries----------------*/

@media (max-width: 1250px){
    .servicio-button{
        height: 8.125rem;
        width: 10rem;
    }
}

@media (max-width: 1100px){
    .servicio-button{
        height: 6.25rem;
        width: 6.875rem;
    }
    .servicio-button-text{
        font-size: 1rem;
    }
    .servicio-button-icon{
        font-size: 35px !important;
    }
    .servicioComponents-container{
        width: 500px;
    }
}

@media (max-width: 950px){
    .servicioComponents-container{
        width: 400px;
    }
    .servicio-title{
        font-size: 2.1875rem;
    }
    .servicio-title2{
        font-size: 2.1875rem;
    }
    .servicio-subtitles{
        font-size: 1.375rem;
    }
    .servicio-subtitles2{
        font-size: 1.25rem;
    }
}  

@media (max-width: 830px){
    .servicio-container{
        flex-direction: column-reverse;
        gap: 2.5rem;
    }
    .servicio-button-container {
        justify-content: center;
        align-items: center;
        width: fit-content;
        margin: auto;
    }
    .servicio-button{
        height: 8.125rem;
        width: 10rem;
    }
    .servicio-button-text{
        font-size: 1.125rem;
    }
    .servicio-button-icon{
        font-size: 50px !important;
    }
    .servicio-list-desktop{
        display: none;
    }
    .servicio-list-mobile{
        display: block;
    }
    .servicio-list-container{
        padding: 0;
        box-shadow: none;
        background-color: white;
        padding-top: 5px;
    }
    .servicio-list{
        color: var(--darkviolet);
    }
    .servicioComponents-container{
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 700px){
    .servicio-container{
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    .servicio-button-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .servicio-button:nth-child(odd):last-child {
        grid-column: span 2;
        justify-self: center;
    }
    .servicioComponents-container{
        width: 90%;
    }
    .servicio-objetivos{
        padding-bottom: 4rem;
    }
}

@media (max-width: 600px){
    .servicio-container{
        gap: 20px;
    }
    .servicio-list-mobile{
        width: 90%;
    }
    .servicio-title{
        font-size: 1.875rem;
    }
    .servicio-title2{
        font-size: 1.875rem;
    }
    .servicio-subtitles{
        font-size: 1.25rem;
    }
    .servicio-subtitles2{
        font-size: 1.25rem;
    }
    .servicio-description{
        font-size: 1.125rem;
    }
    .servicio-description2{
        font-size: 1rem;
    }
    .servicio-objetivos{
        width: 90%;
    }
}

@media (max-width: 500px){
    .servicio-button{
        width: 8.125rem;
    }
    .servicio-button-text{
        font-size: 1rem;
    }
    .servicio-button-icon{
        font-size: 40px !important;
    }
    .servicio-accordion-title{
        font-size: 1.25rem;
    }
}

@media (max-width: 350px){
    .servicio-button{
        width: 120px;
        height: 110px;
    }
}
