/*Contenedor principal*/
.servicio-main-container{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/*Contenedor de acordeón*/
.servicio-accordion-container{
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

/*Accordeón texto*/
.servicio-accordion-content{
    font-family: "interTight";
    text-align: center;
}

/*Contenedor de detalles del acordeón*/
.servicio-accordion-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .625rem;
}

/*Avisos*/
.servicio-usuarios{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.25rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/*Contenedor de texto*/
.servicio-usuarios-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: .3125rem;
}

/*Título de aviso*/
.servicio-usuarios-title{
    font-family: "Archivo";
    color: var(--darkgreen);
    font-size: 1.5625rem;
}

/*Descripción de aviso*/
.servicio-usuarios-description{
    font-family: "interTight";
    font-size: 1.25rem;
    width: 37.5rem;
}

/*Links*/
.servicio-enlace{
    text-decoration: none;
    color: var(--darkgreen);
}

/*Fondo Verde*/
.servicio-image-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid #12824C;
    transform: translate(20px, 20px);
    transform-origin: top left;
    pointer-events: none; 
    background: #12824C;
}

/*Fondo verde invertido*/
.servicio-background-position::before {
    transform: translate(-28px, 20px);
}

/*Contenedor de imagen*/
.servicio-image-container{
position: relative;
    width: 28.125rem;
    height: 21.875rem;
}

/*Imagen*/
.servicio-image{
    position: relative;
    width: 100%;
    height: 100%;
}

/*Fondo oscuro*/
#dark-background{
    background-color: var(--black)
}

/*Letras blancas*/
#light-font{
    color: white;
}

/*Contenedor de información*/
.servicio-info-container{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding-top: 3.75rem;
    border-top: .1875rem solid var(--darkgreen);
}

/*Información*/
.servicio-info{
    width: 31.25rem;
    border: .1875rem solid var(--darkgreen);
    padding: 1.875rem;
}

/*Titulo de informacion*/
.servicio-info-title{
    font-family: "archivo";
    color: var(--darkgreen);
    font-size: 1.5625rem;
}

/*Texto de información*/
.servicio-info-text{
    font-family: "interTight";
    color: var(--black);
    font-size: 1.125rem;
    line-height: 1.5rem;
}

/*Información final*/
.servicio-extra-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .625rem;
}

/*Contenedor de info y botones*/
.servicio-infoYButton-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem
}

/*Contenedor de botones*/
.servicio-buttonContainer{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

/*Contenedor de imágen*/
.servicio-info-imageContainer{
    width: 15.625rem;
}

/*Título de la información final*/
.servicio-extraInfo-title{
    font-size: .9375rem;
    font-family: "interTight";
    color: var(--darkgreen);
    width: 31.25rem;
}

/*Texto de información final*/
.servicio-extraInfo-text{
    font-family: "interTight";
    font-size:.9375rem;
    color: var(--black);
    width: 31.25rem;
}

/*----------------Media Queries----------------*/

@media (max-width: 1300px){
    .servicio-accordion-container{
        width: 43.75rem;
    }
    .servicio-image-container{
        width: 21.875rem;
        height: 15.625rem;
    }
    .servicio-image-container::before{
        transform: translate(10px, 10px)
    }
    .servicio-background-position::before {
        transform: translate(-17px, 10px);
    }
    .servicio-usuarios-title{
        width: 25rem;
    }
    .servicio-usuarios-description{
        width: 25rem;
    }
    .servicio-info{
        width: 25rem;
    }
    .servicio-info-title{
        font-size: 1.25rem;
    }
    .servicio-info-text{
        font-size: 1rem;
    }
}

@media (max-width: 960px){
    .servicio-usuarios{
        gap: 3.125rem;
    }
    .servicio-usuarios-title{
        font-size: 1.375rem;
        text-align: center;
        width: 21.875rem;
    }
    .servicio-usuarios-description{
        font-size: 1.125rem;
        width: 18.75rem;
    }
    .servicio-image-container{
        width: 18.75rem;
        height: 12.5rem;
    }
    .servicio-info{
        width: 21.875rem;
    }
}

@media (max-width: 760px){
    .servicio-main-container{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .servicio-accordion-container{
        width: 90%;
        margin: auto;
    }
    .servicio-usuarios{
        flex-direction: column;
        padding-top: 3rem;
        gap: 2.5rem;
    }
    .servicio-usuarios-title{
        width: 80%;
        font-size: 1.5625rem;
        text-align: center;
    }
    .servicio-usuarios-description{
        font-size: 1.25rem;
        width: 80%;
    }
    .servicio-image-container{
        width: 25rem;
        height: 18.75rem;
    }
    #background-position::before {
        transform: translate(10px, 10px);/*Acomodar esto*/ 
    }
    #dark-background{
        flex-direction: column-reverse;
    }
    .servicio-info-container{
        flex-direction: column;
        align-items: center;
        gap: 3.125rem;
    }
    .servicio-info{
        width: 31.25rem;
    }
}

@media (max-width: 700px){
    .servicio-buttonContainer{
        width: 100%;
    }
}

@media (max-width: 600px){
    .servicio-usuarios{
        gap: 2.5rem;
    }
    .servicio-usuarios-title{
        width: 80%;
        font-size: 1.375rem;
    }
    .servicio-usuarios-description{
        font-size: 1.125rem;
        width: 80%;
    }
    .servicio-image-container{
        width: 18.75rem;
        height: 12.5rem;
    }
    .servicio-info{
        width: 90%;
        margin: auto;
    }
    .servicio-buttonContainer{
        width: 90%;
    }
}

@media (max-width: 400px){
    .servicio-usuarios{
        padding-bottom: 4rem;
        padding-top: 2rem;
    }
    .servicio-usuarios-title{
        font-size: 1.25rem;
    }
    .servicio-usuarios-description{
        font-size: 1rem;
    }
    .servicio-image-container{
        width: 15.625rem;
        height: 9.375rem;
    }
}
