/*Imágen de fondo*/
.login-page {
    height: 100vh;
    background-image: url('../../../assets/images/inicio/portada.png');
    background-position: center;
}

/*----------------Media Queries----------------*/

@media(max-width:950px){
    .login-page{
        background-size: cover;
    }
}

@media (max-width: 677px) {
    .login-page {
        background-position: calc(64% - 0px) center;
    }
}