/*Contendor Principal*/
.historia-container{
    overflow: hidden;
}

/*Contenedor de introducción*/
.historia-intro-container{
    background-color: var(--grey);
    padding-top: 5rem;
    padding-bottom: 4rem;
}

/*Intro*/
.historia-intro{
    text-align: center;
    color: white;
    background-color: var(--darkgreen);
    font-size: 1.875rem;
    font-family: "interTight";
    font-weight: bold;
    padding: 2.5rem;
    width: 75rem;
    letter-spacing: 1px;
    margin: auto;
    border-radius: 2.5rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

/*Contenedor de bio*/
.historia-bio-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9.375rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

/*Contenedor de imágen*/
.historia-image-container{
    overflow: hidden;
    border-radius: 2.5rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    width: 37.5rem;
    height: 37.5rem;
}

/*Impagen*/
.historia-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*Texto al lado de imágen*/
.historia-text{
    font-family: "interTight";
    color: var(--black);
    font-size: 1.5625rem;
    width: 37.5rem;
    text-align: left;
}

/*Fondo oscuro*/
#dark-background{
    background-color: var(--black)
}

/*Letras blancas*/
#light-font{
    color: white;
}

/*Titulo*/
.historia-title{
    font-family: "archivo";
    color: var(--darkgreen);
    font-size: 2.5rem;
    text-align: center;
    margin-left: .625rem;
    margin-right: .625rem;
    line-height: 40px;
    padding-bottom: 1.875rem;
}

/*Contenedor de acordeón y título*/
.historia{
    padding-top: 3.125rem;
    padding-bottom: 80px;
    background: linear-gradient(95deg, rgba(61,17,109,1) 0%, rgba(247,245,249,1) 30%, rgba(255,255,255,1) 50%, rgba(247,254,251,1) 70%, rgba(240,253,247,1) 71%, rgba(48,230,145,1) 100%);
}

/*Acordeón*/
.historia-accordion-container{
    max-width: 50rem ;
    margin-left: auto;
    margin-right: auto;
}

/*Contenedor de Valores*/
.valores-container{
    padding-top: 5rem;
}

/*Valores*/
.valores{
    text-align: center;
    color: white;
    background-color: var(--darkgreen);
    font-size: 1.875rem;
    font-family: "interTight";
    font-weight: bold;
    padding: 2.5rem;
    width: 1200px;
    letter-spacing: 1px;
    margin: auto;
    border-radius: 2.5rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

/*----------------Media Queries----------------*/

@media (max-width: 1460px){
    .historia-intro{
        width: 80%;
    }
    .historia-bio-container{
        gap: 6.25rem;
    }
    .historia-text{
        width: 28.125rem;
    }
    .historia-image-container{
        width: 31.25rem;
        height: 31.25rem;
    }
    .valores{
        width: 80%;
    }
}

@media (max-width: 1170px){
    .historia-intro{
        font-size: 1.5625rem;
    }
    .historia-bio-container{
        gap: 3.125rem;
    }
    .historia-text{
        width: 25rem;
        font-size: 1.25rem;
    }
    .historia-image-container{
        width: 25rem;
        height: 25rem;
    }
    .valores{
        font-size: 25px;
    }
}

@media (max-width: 950px){
    .historia-intro{
        font-size: 22px;
    }
    .historia-text{
        width: 350px;
        font-size: 1.125rem;
    }
    .historia-image-container{
        width: 21.875rem;
        height: 21.875rem;
    }
    .historia{
        background: linear-gradient(30deg, rgba(61,17,109,1) 0%, rgba(247,245,249,1) 30%, rgba(243,245,247,1) 70%, rgba(48,230,145,1) 100%);
    }
    .historia-accordion-container{
        max-width: 90%;
    }
    .valores{
        font-size: 22px;
    }
}

@media (max-width: 830px){
    .historia-intro{
        width: 90%;
    }
    .historia-bio-container{
        flex-direction: column;
        gap: .9375rem;
    }
    .historia-text{
        width: 80%;
        margin: auto;
        text-align: center;
        font-size: 1.25rem;
    }
    .historia-image-container{
        width: 28.125rem;
        height: 28.125rem;
    }
    .valores{
        width: 90%;
    }
}

@media (max-width: 700px){
    .historia-intro-container{
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    .historia-intro{
        font-size: 20px;
        padding: 1.875rem;
    }
    .historia-bio-container{
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
    }
    .historia-text{
        width: 90%;
    }
    .historia{
        padding-bottom: 4rem;
    }
    .historia-title{
        font-size: 2.1875rem;
        color: var(--darkviolet);
    }
    .valores-container{
        padding-top: 3rem;
    }
    .valores{
        padding: 1.875rem;
        font-size: 1.25rem;
    }
}

@media (max-width: 550px){
    .historia-image-container{
        width: 25rem;
        height: 25rem;
    }
}

@media (max-width: 460px){
    .historia-intro-container{
        padding-bottom:  2.1875rem;
    }
    .historia-intro{
        font-size: 18px;
        padding: 1.5625rem;
    }
    .historia-text{
        font-size: 1.125rem;
    }
    .historia-image-container{
        width: 21.875rem;
        height: 21.875rem;
    }
    .valores{
        font-size: 1.125rem;
        padding: 25px;
    }
}

@media (max-width: 390px){
    .historia-image-container{
        width: 330px;
        height: 20.625rem;
    }
}

@media (max-width: 350px){
    .historia-image-container{
        width: 315px;
        height: 19.6875rem;
    }
}