/*Contendor Principal*/
.historia-container{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/*Frase*/
.historia-intro{
    color: white;
    background-color: var(--darkgreen);
    font-size: 1.875rem;
    font-family: "interTight";
    padding: 2.5rem;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 1.25rem;
}

/*Contenedor de bio*/
.historia-bio-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9.375rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/*Contenedor de imágen*/
.historia-image-container{
    position: relative;
    width: 31.25rem;
    height: 31.25rem;
}

/*Fondo Verde*/
.historia-image-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid #12824C;
    transform: translate(20px, 20px);
    transform-origin: top left;
    pointer-events: none; 
    background: #12824C;
}

/*Fondo verde invertido*/
#background-position::before {
    transform: translate(-20px, 20px);
}

/*Impagen*/
.historia-image{
    position: relative;
    width: 100%;
    height: 100%;
}

/*Texto al lado de imágen*/
.historia-text{
    font-family: "interTight";
    color: grey;
    font-size: 1.25rem;
    width: 37.5rem;
    text-align: justify;
}

/*Fondo oscuro*/
#dark-background{
    background-color: var(--black)
}

/*Letras blancas*/
#light-font{
    color: white;
}

/*Titulo*/
.historia-title{
    padding-top: 40px;
    font-family: "archivo";
    color: var(--darkgreen);
    text-align: center;
    font-size: 2.5rem;
}

.historia{
    background-color: #b7e5ce;
}

/*Cotenedor de acordeón*/
.historia-accordion-container{
    max-width: 50rem ;
    margin: 80px auto;
    margin-top: 1.25rem;
    padding-bottom: 5rem;
}

/*Valores contenedor principal*/
.valores-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*Valores contenedor de texto*/
.valores-text-container{
    width: 50rem;
    display: flex;
    flex-direction: column;
    gap: .625rem;
    padding: 2.5rem;
    border: .1875rem solid var(--darkgreen);
}

/*Valores texto*/
.valores-text{
    font-family: "Archivo";
    font-size: 1.5625rem;
    color: var(--darkgreen);
}

/*Lista de valores*/
.valores-list{
    font-family: "interTight";
    font-size: 1.375rem;
    color: var(--black);
}

/*Imágenes del al pié*/
.valores-image-container{
    width: 15.625rem;
}