/*Contenedor principal*/
.homePortada-container{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url("../../../../assets/images/inicio/portada.png");
    background-position: center;
    height: 100vh;
}

/*Contenedor de contacto*/
.homePortada-contactosContainer{
    display: flex;
    justify-content: space-evenly;
}

/*Contacto e ícono*/
.homePortada-contactos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3125rem;
    text-decoration: none;
}

/*Texto de contacto*/
.homePortada-contactosText{
    color: white;
    font-family: "InterTight";
    margin-top: .9375rem;
    margin-bottom: .9375rem;
    letter-spacing: .0625rem;
}

/*Contenedor de textos*/
.homePortada-bienvenidaContainer{
display: flex;
flex-direction: column;
align-items: flex-start;
margin-top: 11.25rem;
padding-left: 13%;
gap: 1.25rem;
}

/*Título principal*/
.homePortada-title{
    color: white;
    font-size: 3.75rem;
    font-family: "InterTight-medium";
    letter-spacing: 2px;
}

/*Resaltado en título*/
.homePortada-resaltado01{
    color: var(--newgreen);
}

/*Título secundario*/
.homePortada-title02{
    color: var(--white);
    font-family: "interTight";
    font-size: 1.875rem;
    letter-spacing: .0625rem;
}

/*Resaltado en segudno título*/
.homePortada-resaltado02{
    color: var(--black);
    background-color: var(--newgreen);
    border-radius: 1.5625rem;
    padding: 3px 10px 3px 10px ;
}

/*Descripción*/
.homePortada-description{
    color: var(--white);
    font-family: "InterTight";
    width: 40%;
    letter-spacing: .0625rem;
}

/*Contenedor del botón*/
.homePortada-buttonContainer{
    margin-top: 2.1875rem;
    width: 15.625rem;
    margin-left: 13%;
}


/*----------------Media Queries----------------*/

@media(max-width:1386px){
    .homePortada-title{
        font-size: 3.125rem;
    }
    .homePortada-title02{
        font-size: 25px;
    }
}

@media(max-width:1164px){
    .homePortada-description{
        width: 65%;
    }
}

@media(max-width:1155px){
    .homePortada-title{
        font-size: 2.8125rem;
    }
    .homePortada-title02{
        font-size: 22px;
    }
}

@media(max-width:950px){
    .homePortada-container{
        background-size: cover;
    }
}

@media(max-width:930px){
    .homePortada-resaltado02{
        background-color: transparent;
        color: var(--newgreen);
        padding: 0;
    }
}

@media(max-width:867px){
    .homePortada-contactosText{
        font-size: .8125rem;
    }
}

@media(max-width:805px){
    .homePortada-description{
        width: 90%;
    }
}

@media(max-width:768px){
    .homePortada-bienvenidaContainer{
        width: 90%;
        margin-top: 7.5rem;
    }
}


@media(max-width:760px){
    .homePortada-contactosContainer{
        flex-direction: column;
        gap: .625rem;
        margin-bottom: .9375rem;
        padding-top: .9375rem;
    }
    .homePortada-contactosText{
        font-size: .8125rem;
    }
    .homePortada-title{
        font-size: 2.1875rem;
    }
    .homePortada-title02{
        font-size: 20px;
    }
    .homePortada-contactosText{
        margin: 0%;
    }
    #homePortada-tel{
        display: none;
    }
}

@media(max-width:700px){
    .homePortada-buttonContainer{
        width: 90%;
        margin: auto;
        margin-top: 3.125rem;
    }
}

@media (max-width: 677px) {
    .homePortada-container {
        background-position: calc(64% - 0px) center;
    }
}


@media(max-width:577px){
    .homePortada-bienvenidaContainer{
        width: 85%;
    }
}

@media(max-width:480px){
    .homePortada-title{
        font-size: 1.875rem;
    }
}

@media(max-width:409px){
    .homePortada-title{
        font-size: 1.5625rem;
    }
    .homePortada-title02{
        font-size: 16px;
    }
    .homePortada-description{
        font-size: .9375rem;
    }
}