/*Contenedor principal*/
.servicioConexion-main-contaner{
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

/*Título*/
.servicio-title{
    font-family: "archivo";
    font-size: 2.5rem;
    color: var(--darkgreen);
}

/*Subtitulos y preguntas*/
.servicio-subtitles{
    font-family: "archivo";
    color: var(--darkviolet);
    font-size: 1.5625rem;
}

/*Descripciones*/
.servicio-description{
    font-family: "interTight";
    font-size: 1.25rem;
}

/*Enlaces en descripción*/
.servicio-link{
    color: var(--darkgreen);
    text-decoration: none;
    font-weight: bold;
}

/*Enlace de "Más información"*/
.servicio-info{
    color: var(--darkgreen);
    font-weight: bold;
    font-family: "archivo";
    text-decoration: none;
    font-size: 25px;
    transition: color 0.2s, transform 0.2s, text-shadow 0.2s;
}

/*Hover*/
.servicio-info:hover {
    color: var(--violet);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.servicio-info:active {
    transform: scale(0.95); 
    opacity: 0.8;
}