/*Contenedor principal*/
.consejos-main-container{
    overflow: hidden;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/*Contenedor de consejos e imágen*/
.consejos-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9.375rem;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}

/*Corrección de padding al primer contenedor*/
.consejos-padding{
    padding-top: 0;
}

/*Contenedor de texto*/
.consejos-text-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 34.375rem;
    gap: .625rem;
}

/*Estilo para título 01*/
.consejos-title-01{
    background:var(--lightgreen);
    border-radius: 1.5625rem;
    color: var(--black);
    padding: 2px 15px;
    font-family: "interTight";
    font-size: 2.5rem;
    letter-spacing: 1px;
}

/*Estilo para título 02*/
.consejos-title-02{
    color: var(--lightgreen);
    font-family: "interTight";
    font-size: 2.5rem;
    letter-spacing: 1px;
}

/*Consejo*/
.consejos-text{
    font-family: "interTight";
    color: var(--black);
    font-size: 1.5625rem;
    text-align: left;
}

/*Contenedor de imágen*/
.consejos-image-container{
    overflow: hidden;
    border-radius: 2.5rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    width: 37.5rem;
    height: 37.5rem;
}

/*Imágen*/
.consejos-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*Fondo oscuro*/
#dark-background{
    background-color: var(--black)
}

/*Letras blancas*/
#light-font{
    color: white;
}

/*Contenedor del botón*/
.consejos-button-container{
    background-color: var(--grey);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

/*Botón*/
.consejos-button{
    width: 21.875rem;
    height: 4.375rem;
    margin-left: auto;
    margin-right: auto;
}

/*----------------Media Queries----------------*/

@media (max-width: 1460px){
    .consejos-container{
        gap: 6.25rem;
    }
    .consejos-text-container{
        width: 28.125rem;
    }
    .consejos-title-01{
        font-size: 35px;
    }
    .consejos-title-02{
        font-size: 2.1875rem;
    }
    .consejos-image-container{
        width: 31.25rem;
        height: 31.25rem;
    }
}

@media (max-width: 1170px){
    .consejos-container{
        gap: 3.125rem;
    }
    .consejos-text-container{
        width: 25rem;
    }
    .consejos-title-01{
        font-size: 30px;
    }
    .consejos-title-02{
        font-size: 30px;
    }
    .consejos-text{
        font-size: 1.375rem;
    }
    .consejos-image-container{
        width: 28.125rem;
        height: 28.125rem;
    }
}

@media (max-width: 950px){
    .consejos-text-container{
        width: 21.875rem;
    }
    .consejos-title-01{
        font-size: 25px;
    }
    .consejos-title-02{
        font-size: 25px;
    }
    .consejos-text{
        font-size: 1.125rem;
    }
    .consejos-image-container{
        width: 25rem;
        height: 25rem;
    }
}

@media (max-width: 830px){
    .consejos-container{
        flex-direction: column;
        gap: .9375rem;
    }
    .consejos-text-container{
        width: 80%;
        margin: auto;
        align-items: center;
    }
    .consejos-title-01{
        font-size: 30px;
    }
    .consejos-title-02{
        font-size: 30px;
    }
    .consejos-text{
        font-size: 1.25rem;
        text-align: center;
    }
    .consejos-image-container{
        width: 28.125rem;
        height: 28.125rem;
    }
}

@media (max-width: 700px){
    .consejos-main-container{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .consejos-container{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    .consejos-padding{
        padding-top: 0px;
    }
    .consejos-text-container{
        width: 90%;
    }
    .consejos-button-container{
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
    }
    .consejos-button{
        width: 90%;
    }
}   

@media (max-width: 550px){
    .consejos-title-01{
        font-size: 25px;
    }
    .consejos-title-02{
        font-size: 25px;
    }
    .consejos-text{
        font-size: 18px;
    }
    .consejos-image-container{
        width: 25rem;
        height: 25rem;
    }
}

@media (max-width: 460px){
    .consejos-image-container{
        width: 21.875rem;
        height: 21.875rem;
    }
}

@media (max-width: 390px){
    .consejos-image-container{
        width: 330px;
        height: 20.625rem;
    }
}

@media (max-width: 350px){
    .consejos-image-container{
        width: 315px;
        height: 19.6875rem;
    }
}