/*Contenedor principal*/
.consejos-main-container{
    margin-bottom: 5rem;
}

/*Contenedor de consejos e imágen*/
.consejos-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9.375rem;
    padding-top: 80px;
    padding-bottom: 5rem;
}

/*Contenedor de texto*/
.consejos-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 34.375rem;
    gap: .625rem;
}

/*Número de consejo*/
.consejos-number{
    font-family: "archivo";
    font-size: 2.1875rem;
    background:#8048ff;
    color:#fff;
    padding: 2px 15px;
    clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
}

/*Consejo*/
.consejos-text{
    font-family: "interTight";
    color: var(--black);
    font-size: 1.5625rem;
    text-align: center;
}

/*Contenedor de imágen*/
.consejos-image-container{
    position: relative;
    width: 37.5rem;
    height: 37.5rem;
}

/*Imágen*/
.consejos-image{
    position: relative;
    width: 100%;
    height: 100%;
}

/*Fondo Verde*/
.consejos-image-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid #12824C;
    transform: translate(20px, 20px);
    transform-origin: top left;
    pointer-events: none; 
    background: #12824C;
}

/*Fondo verde invertido*/
.consejos-background-position::before {
    transform: translate(-28px, 20px);
}

/*Fondo oscuro*/
#dark-background{
    background-color: var(--black)
}

/*Letras blancas*/
#light-font{
    color: white;
}

/*Contenedor del logo*/
.consejos-logo-container{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .625rem;
    width: 9.375rem;
    border-top: .1875rem solid var(--darkgreen);
}

/*Contenedor del botón*/
.consejos-button-container{
    width: 18.75rem;
    margin-left: auto;
    margin-right: auto;
}

/*----------------Media Queries----------------*/

@media (max-width: 1460px){
    .consejos-container{
        gap: 6.25rem;
    }
    .consejos-text-container{
        width: 28.125rem;
    }
    .consejos-image-container{
        width: 31.25rem;
        height: 31.25rem
    } 
}

@media (max-width: 1170px){
    .consejos-container{
        gap: 3.125rem;
    }
    .consejos-text-container{
        width: 400px;
    }
    .consejos-number{
        font-size: 1.875rem;
    }
    .consejos-text{
        font-size: 1.25rem;
    }
    .consejos-image-container{
        width: 25rem;
        height: 25rem
    } 
}

@media (max-width: 950px){
    .consejos-text-container{
        width: 21.875rem;
    }
    .consejos-number{
        font-size: 1.5625rem;
    }
    .consejos-text{
        font-size: 1.0625rem;
    }
    .consejos-image-container{
        width: 18.75rem;
        height: 18.75rem
    }
    .consejos-image-container::before{
        transform: translate(10px, 10px)
    }
    .consejos-background-position::before {
        transform: translate(-20px, 10px);
    }
}

@media (max-width: 760px){
    .consejos-main-container{
        margin-bottom: 4rem;
    }
    .consejos-container{
        flex-direction: column;
        gap: 1.875rem;
    }
    .consejos-text-container{
        width: 80%;
        margin: auto;
    }
    .consejos-number{
        font-size: 1.875rem;
    }
    .consejos-text{
        font-size: 1.5625rem;
    }
    .consejos-image-container{
        width: 25rem;
        height: 400px
    }
}

@media (max-width: 700px){
    .consejos-button-container{
        width: 90%;
        margin-top: 1.875rem;
    }
}

@media (max-width: 650px){
    .consejos-container{
        padding-top: 4rem;
    }
}

@media (max-width: 550px){
    .consejos-text-container{
        width: 90%;
    }
    .consejos-number{
        font-size: 1.5625rem;
    }
    .consejos-text{
        font-size: 1.25rem;
    }
    .consejos-image-container{
        width: 18.75rem;
        height: 18.75rem
    }
    .consejos-logo-container{
        width: 7.5rem;
    }
}

@media (max-width: 400px){
    .consejos-number{
        font-size: 1.375rem;
    }
    .consejos-text{
        font-size: 1.0625rem;
    }
    .consejos-image-container{
        width: 15.625rem;
        height: 15.625rem
    }
    .consejos-logo-container{
        width: 6.25rem;
    }
    .consejos-boton-container{
        margin-top: 0%;
    }
}