/*Contenedor principal*/
.header-main-container{
    background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), 
    url("../../../../assets//images/headers/header-main.jpg"); 
    background-size: cover;
    background-position: center 60%;
    height: 25.625rem;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

/*Contenedor de contactos*/
.header-contactos-container{
    display: flex;
    justify-content: space-around;
}

/*Contenedor individial de contactos*/
.header-contactos{
    display: flex;
    align-items: center;
    gap: .3125rem;
}

/*Contactos*/
.header-contactosText{
    color: white;
    font-family: "InterTight";
}

/*Título*/
.header-title {
    color: white;
    font-family: "archivo";
    font-size: 3.375rem;
    margin-left: 10%;
    margin-top: 6.25rem;
    margin-right: 1.5rem;
}

/*Títulos de Blogs*/
.header-title-blog{
    color: white;
    font-family: "archivo";
    font-size: 3.4375rem;
    margin-left: 10%;
    margin-top: 6.25rem;
    margin-right: 12.5rem;
}

/*----------------Media Queries----------------*/


@media(max-width:830px){
    .header-contactosText{
        font-size: .75rem;
    }
    .header-title{
        font-size: 3.75rem;
    }
    .header-title-blog{
        font-size: 2.8125rem;
    }
}

@media(max-width:760px){
    .header-contactos-container{
        display: none;
    }
    .navbarPages-container{
        padding-top: 3.125rem;
    }
}

@media(max-width:700px){
    .header-main-container{
        height: 21.875rem;
    }
    .header-title{
        margin-top: 4.375rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 3.4375rem;
        text-align: center;
    }
    .header-title-blog{
        margin-top: 4.375rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 2.5rem;
        text-align: center;
    }
}

@media (max-width: 450px){
    .header-title-blog{
        font-size: 2rem;
    }
}

@media (max-width: 400px){
    .header-main-container{
        height: 300px;
    }
    .header-title{
        font-size: 1.8125rem;
    }
}