/*Contenedor principal*/
.header-main-container{
    background-image: 
    url("https://www.repsol.com/content/dam/repsol-corporate/es/energia-e-innovacion/energia%20electrica%20cables%20alta%20tension.jpg"); 
    background-size: cover;
    background-position: center 60%;
    height: 25.625rem;
}

/*Contenedor de contactos*/
.header-contactos-container{
    display: flex;
    justify-content: space-around;
}

/*Contenedor individial de contactos*/
.header-contactos{
    display: flex;
    align-items: center;
    gap: .3125rem;
}

/*Contactos*/
.header-contactosText{
    color: white;
    font-family: "InterTight";
}

/*Título*/
.header-title{
    color: white;
    font-family: "archivo";
    font-size: 3.125rem;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 6.25rem;
}

/*Logo de Nave*/
.header-logo-nave{
    width: 11.875rem;
    padding-top: 3.125rem;
    margin-left: 15%;
    margin-right: 15%;
}
/*Logo de Mutual*/
.header-logo-mutual{
    width: 18.75rem;
    padding-top: 3.125rem;
    margin-left: 15%;
    margin-right: 15%;
}

/*----------------Media Queries----------------*/

@media(max-width:899px){
    .header-logo-nave{
        width: 9.375rem;
        padding-top: 5rem;
    }
    .header-logo-mutual{
        width: 15.625rem;
        padding-top: 5rem;
    }
}

@media(max-width:850px){
    .header-contactosText{
        font-size: .75rem;
    }
}

@media(max-width:760px){
    .header-contactos-container{
        display: none;
    }
    .navbarPages-container{
        padding-top: 3.125rem;
    }
    .header-title{
        padding-top: 6.25rem;
        padding-right: 10%;
    }
}

@media(max-width:650px){
    .header-title{
        padding-top: 3.125rem;
    }
}

@media(max-width:599px){
    .header-main-container{
        height: 21.875rem;
    }
    .header-title{
        font-size: 2.8125rem;
    }
    .header-logo-nave{
        width: 7.5rem;
        padding-top: 4.375rem;
    }
    .header-logo-mutual{
        width: 12.5rem;
        padding-top: 4.375rem;
    }
}

@media(max-width:450px){
    .header-title{
        padding-left: 10%;
        text-align: center;
        font-size: 2.5rem;
    }
}

@media(max-width:370px){
    .header-title{
        font-size: 2.1875rem;
    }
}






/*
@media(max-width:599px){
    .header-main-container{
        height: 21.875rem;
    }
    .header-title{
        font-size: 2.5rem;
        padding-top: 4.375rem;
    }
    .header-logo-nave{
        width: 7.5rem;
    }
    .header-logo-mutual{
        width: 12.5rem;
    }
    .header-title{
        font-size: 2.1875rem;
    }
}
*/