.header-contactos-container{
    background-color: var(--black);
    display: flex;
    justify-content: space-around;
    height: 5.625rem;
}

.header-contactos{
    display: flex;
    align-items: center;
    gap: .3125rem;
    padding-bottom: 2.1875rem;
}

.header-contactosText{
    color: white;
    font-family: "InterTight";
}

.header-title-container{
    background-image: url("https://t4.ftcdn.net/jpg/02/28/92/23/360_F_228922358_V7pawRfc0ryB6rtkLBSI2782CyAZi2s4.jpg") ;
    background-size: auto;
    background-position: 50% 50%;
    height: 18.75rem;
    display: flex;
    align-items: center;
}

.header-title{
    color: white;
    font-family: "archivo";
    font-size: 3.125rem;
    padding-left: 18.75rem;
}

/*Logo de Nave*/
.header-logo-nave{
    width: 11.875rem;
    padding-top: 3.125rem;
    margin-left: 12.5rem;
}


/*----------------Media Queries----------------*/

@media(max-width:960px){
    .header-title-container{
        justify-content: center;
        
    }
    .header-title{
        font-size: 2.1875rem;
        padding-left: 0%;
        padding-top: 2.5rem;
    }
    .header-logo-nave{
        margin-left: 0%;
    }
}

@media(max-width:770px){
    .header-contactos-container{
        display: none;
    }
    .header-logo-nave{
        width: 9.375rem;
        margin-top: 3.75rem;
    }
}

@media(max-width:460px){
    .header-logo-nave{
        width: 7.5rem;
    }
}