/*Contenedor Principal*/
.homeServicios-container{
    padding-top: 5rem;
    padding-bottom: 3.125rem;
    background: rgb(61,17,109);
    background: linear-gradient(307deg, rgba(61,17,109,1) 0%, rgba(228,228,228,1) 20%, rgba(228,228,228,1) 33%, rgba(228,228,228,1) 52%, rgba(228,228,228,1) 80%, rgba(46,237,141,1) 100%);
}

/*Logo*/
.homeSeervicios-logo{
    width: 12.5rem;
    margin-left: auto;
    margin-right: auto;
}

/*Título*/
.homeServicios-title{
    text-align: center;
    font-family: "archivo-black";
    color: var(--black);
}

/*Texto*/
.homeServicios-text{
    font-size: 25px;
    font-family: "interTight-medium";
    text-align: center;
    color: black;
    letter-spacing: 1px;
    width: 62.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.1875rem;
    margin-bottom: 2.1875rem;
}

/*Contenedor de enlace*/
.homeServicios-link-container{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -1rem;
}

/*Enlace a NAVE*/
.homeServicios-link{
    background-color: var(--black);
    font-family: "interTight";
    font-size: 1.25rem;
    color: var(--white);
    letter-spacing: .0625rem;
    padding: 7px 40px 12px 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

/*----------------Media Queries----------------*/

@media(max-width:1250px){
    .homeSeervicios-logo{
        width: 11.25rem;
    }
}

@media(max-width:1110px){
    .homeServicios-link{
        margin-top: 3.75rem;
    }
    .homeServicios-text{
        width: 80%;
    }
}

@media(max-width:950px){
    .homeSeervicios-logo{
        width: 10rem;
    }
    .homeServicios-titile{
        font-size: 1.25rem;
    }
}

@media(max-width:850px){
    .homeServicios-link{
        font-size: 1rem;
    }
}

@media(max-width:700px){
    .homeSeervicios-logo{
        width: 8.75rem;
    }
    .homeServicios-titile{
        font-size: 1.25rem;
    }
}

@media(max-width:650px){
    .homeServicios-container{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    
}

@media(max-width:600px){
    .homeServicios-text{
        width: 90%;
    }
}

@media(max-width:500px){
    .homeServicios-link{
        margin-top: 2.8125rem;
    }
    .homeServicios-text{
        margin-bottom: .625rem;
    }
}