/*Contenedor Principal*/
.homeServicios-container{
    padding-top: 5rem;
    padding-bottom: 3.125rem;
    background: linear-gradient(90deg, rgba(61,17,109,1) 0%, rgba(221,220,223,1) 35%, rgba(228,228,228,1) 50%, rgba(224,228,226,1) 64%, rgba(48,230,145,1) 100%);
}

/*Logo*/
.homeSeervicios-logo{
    width: 12.5rem;
    margin-left: auto;
    margin-right: auto;
}

/*Título*/
.homeServicios-title{
    text-align: center;
    font-family: "archivo-black";
    color: var(--black);
}

/*Texto*/
.homeServicios-text{
    font-size: 25px;
    font-family: "interTight-medium";
    text-align: center;
    color: black;
    letter-spacing: 1px;
    width: 62.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.1875rem;
    margin-bottom: 2.1875rem;
}

/*Contenedor de enlace*/
.homeServicios-link-container{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -1rem;
}

/*Enlace a NAVE*/
.homeServicios-link{
    background-color: var(--black);
    font-family: "interTight";
    font-size: 1.25rem;
    color: var(--white);
    letter-spacing: .0625rem;
    padding: 7px 40px 12px 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

/*----------------Media Queries----------------*/

@media(max-width:1250px){
    .homeSeervicios-logo{
        width: 180px;
    }
    .homeServicios-title{
        font-size: 1.25rem;
        line-height: 10px;
    }
    .homeServicios-text{
        font-size: 1.375rem;
        width: 80%;
    }
}

@media(max-width:700px){
    .homeServicios-container{
        padding-top: 4rem;
    }
    .homeSeervicios-logo{
        width: 150px;
    }
    .homeServicios-title{
        font-size: 1.125rem;
    }
    .homeServicios-text{
        font-size: 1.25rem;
        width: 90%;
        margin-top: 1.5625rem;
    }
}