/*Header*/
.header-mutual-container{
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url("../../../assets//images//headers/header-vittal.jpg"); 
    background-size: cover;
    background-position: top;
    height: 25.625rem;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

/*Logo en header*/
.vittal-logo-container{
    margin-left: 10%;
    margin-top: 3.75rem;
    width: 21.875rem;
}

/*Contenedor principal*/
.mutual-main-container{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/*Texto*/
.mutual-text{
    text-align: center;
    font-family: "interTight";
    color: var(--black);
    font-size: 1.875rem;
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px;
}

/*Contenedor de información*/
.mutual-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    gap: 6.25rem;
}

/*Contenedor de imágen*/
.vittal-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--darkviolet);
    border-radius: 40px;
    padding: 20px 40px 40px 40px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

/*Imágen texto 1*/
.mutual-text01{
    font-family: "archivo-black";
    color: white;
    font-size: 3.125rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: .0625rem;
}

/*Imágen texto 2*/
.vittal-text02{
    color: white;
    font-family: "archivo";
    font-weight: lighter;
    font-size: 1.125rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/*Imágen texto 3*/
.mutual-text03{
    background-color: var(--newgreen);
    border-radius: .3125rem;
    color: var(--darkviolet);
    padding: 0px 10px 0px 10px;
    margin-left: 5px;
}

/*Contenedor de formulario*/
.mutual-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 43.75rem;
}

/*Indicación del formulario*/
.mutual-form{
    font-family: "interTight";
    color: var(--darkviolet);
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 1.5625rem;
}

/*Botón de enviar*/
.mutual-button{
    width: 11.25rem;
}

/*Contenedor de texto y boton*/
.mutual-enlace{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey);
    padding-top: 3.125rem;
    padding-bottom: 2.5rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    gap: .625rem;
}

/*Texto*/
.mutual-enlace-text{
    color: var(--black);
    font-family: "interTight";
    font-size: 1.875rem;
    text-align: center;
    letter-spacing: .0625rem;
    width: 28.125rem;
}

/*Contenedor del botón en mobile*/
.vittal-button-container-mobile{
    display: none;
}

/*----------------Media Queries----------------*/

@media (max-width: 1350px){
    .mutual-form-container{
        width: 500px;
    }
    .mutual-container{
        gap: 50px;
    }
}

@media (max-width: 1100px){
    .mutual-text{
        font-size: 1.5625rem;
        width: 80%;
    }
    .mutual-container{
        flex-direction: column-reverse;
        gap:50px;
        width: 100%;
    }
    .mutual-form-container {
        width: 80vw;
        max-width: none;
        margin: 0 auto;
    }
    .mutual-enlace{
        margin-top: 3.125rem;
    }
    .mutual-enlace-text{
        font-size: 1.5625rem;
    }
    .vittal-button-container{
        display: none;
    }
    .vittal-button-container-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28.125rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.25rem;
    }
}

@media (max-width: 830px){
    .vittal-logo-container{
        width: 18.75rem;
    }
}

@media (max-width: 700px){
    .mutual-image-container{
        border-radius: 0;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top:50px;
    }
    .header-mutual-container{
        height: 21.875rem;
    }
    .vittal-logo-container{
        width: 17.5rem;
        margin-left: auto;
        margin-right: auto;
    }
    .mutual-main-container{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .mutual-text{
        font-size: 1.375rem;
        width: 90%;
    }
    .mutual-form{
        font-size: 2.1875rem;
        padding-bottom: .9375rem;
    }
    .mutual-form-container {
        width: 90vw;
    }
    .mutual-button{
        width: 100%;
    }    
    .mutual-enlace{
        padding-top: 2.1875rem;
        padding-bottom: 1.875rem;
        margin-top: 3.75rem;
        gap: 0;
    }
    .mutual-enlace-text{
        font-size: 1.375rem;
    }
    .mutual-button-container{
        width: 90%;
    }
        .vittal-button-container-mobile{
        width: 90%;
    }
}

@media (max-width: 500px){
    .mutual-text{
        font-size: 18px;
    }
    .mutual-form{
        font-size: 30px;
        padding-bottom: .625rem;
    }
    .mutual-container{
        margin-top: 1.875rem;
        gap: 1.25rem
    }
    .mutual-text01{
        font-size: 2.5rem;
    }
    .mutual-text02{
        font-size: 2.5rem;
    }
    .mutual-enlace{
        margin-top: 1.25rem;
    }
    .mutual-enlace-text{
        font-size: 1.125rem;
        width: 90%;
    }
    .vittal-image-container{
        width: 90%;
    }
}

@media (max-width: 400px){
    .header-mutual-container{
        height: 18.75rem;
    }
    .vittal-logo-container{
        width: 15.625rem;
        margin-top: 2.5rem;
        margin-left: auto;
        margin-right: auto;
    }
    .mutual-text01{
        font-size: 1.875rem;
    }
    .mutual-text02{
        font-size: 1.875rem;
    }
}


@media only screen and (max-width: 1000px) {
    .mutual-form-container{
        flex-direction: column;
        width: 90%;
    }
    .Adherentes{
        max-width: 90%; 
        }
    .mutual-form-container div.MuiFormControl-root:not(.adherente-input) {
         width: 90%;
    }
    
   
}
@media only screen and (min-width:1000px){
    .mutual-form-container div:not(.adherente-input):first-child, div.MuiFormControl-root:not(.adherente-input):nth-child(8){
        width: 1000px!important;
        max-width: 1000px!important;
        margin: auto;
    }
    .mutual-form-container div:not(.adherente-input):first-child div, div.MuiFormControl-root:not(.adherente-input):nth-child(8) div{
        width: 1000px!important;
        max-width: 990px!important; 
        margin: auto;
    }
    .Adherentes{
        max-width: 900px; 
    }
    .mutual-form-container div.MuiFormControl-root:not(.adherente-input) {
        width: 100%;
        max-width: 490px;
        margin-left: 0;
    }
    .mutual-form-container{
    margin: auto;
    max-width: 990px;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    gap:10px;
}
}



.mutual-form{
    text-align: center;
}

.mutual-text{
    padding-top: 80px;
}

.submit{
    width: 100%;
    text-align: center;
}
