/*Header*/
.header-pagos-container{
    background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), 
    url("../../../assets//images//headers/header-pagos.webp"); 
    background-size: cover;
    background-position: center 100%;
    height: 25.625rem;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

/*Título en header*/
.header-pagos-title{
    color: white;
    font-family: "archivo";
    font-size: 4.375rem;
    margin-left: 10%;
    margin-top: 6.25rem;
}

/*Contenedor principal*/
.pagos-main-container{
    overflow: hidden;
    margin-top: 5rem;
}

/*Contenedor de logos*/
.pagos-logos-container{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3.125rem;
    flex-wrap: wrap;
    margin-left: .625rem;
    margin-right: .625rem;
}

/*Logos*/
.pagos-logos{
    width: 200px;
}

/*Contenedor de info y acordeón*/
.pagos-container{
    padding-top: 35px;
    padding-bottom: 50px;
    background: linear-gradient(30deg, rgba(61,17,109,1) 0%, rgba(247,245,249,1) 30%, rgba(243,245,247,1) 70%, rgba(48,230,145,1) 100%);
}

/*Título*/
.pagos-title{
    font-family: "archivo";
    color: var(--darkviolet);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: .625rem;
}

/*Contenedor de texto y flecha*/
.pagos-arrow-text{
    display: flex;
    width: 62.5rem;
    margin: auto;
}

/*Texto*/
.pagos-text{
    font-size: 1.875rem;
    font-family: "archivo";
}

/*Segundo texto*/
.pagos-text-02{
    font-size: 30px;
    font-family: "archivo";
    color: white;
    background-color: var(--violet);
    padding: 1.875rem 3.125rem 1.875rem 3.125rem;
    border-radius: 1.5625rem;
    width: 62.5rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3)
}

/*Contenedor de alias*/
.pagos-alias-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1.25rem;
    margin-bottom: 60px;
}

/*Estilo para texto de alias*/
.pagos-text-03{
    color: var(--darkviolet);
    font-size: 1.875rem;
    font-family: "archivo-semi-bold";
}

/*Contenedor de acordeón*/
.pagos-accordion-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/*Contenedor finañ*/
.pagos-usuarios-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3.125rem;
}

/*Contenedor detítulo y texto*/
.pagos-usuarios{
    display: flex;
    flex-direction: column;
    background-color: var(--darkviolet);
    padding: 20px;
    border-radius: 40px;
    width: 600px;
    height: 20.625rem;
    gap: 1.875rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 5rem;
}

/*Fondo para el sefundo contenedor*/
.pagos-background{
    background-color: var(--darkgreen);
}

/*Título*/
.pagos-info-title{
    color: white;
    font-size: 30px;
    font-family: "archivo-semi-bold";
}

/*Texto a usuarios*/
.pagos-info-text{
    color: var(--white);
    font-size: 1.5625rem;
    font-family: "archivo";
}

/*----------------Media Queries----------------*/

@media (max-width: 1300px){
    .pagos-logos{
        width: 150px;
    }
    .pagos-title{
        font-size: 2.1875rem;
    }
    .pagos-arrow-text{
        width: 50rem;
    }
    .pagos-text{
        font-size: 1.5625rem;
    }
    .pagos-text-02{
        font-size: 1.5625rem;
        width: 80%;
    }
    .pagos-accordion-container{
        max-width: 90%;
    }
    .pagos-usuarios{
        width: 31.25rem;
    }
    .pagos-info-title{
        font-size: 1.5625rem;
    }
    .pagos-info-text{
        font-size: 1.375rem;
    }
}

@media (max-width: 1030px){
    .pagos-logos{
        width: 140px;
    }
    .pagos-usuarios{
        width: 25rem;
        height: 370px
    }
    .pagos-info-title{
        font-size: 1.5625rem;
    }
}

@media (max-width: 830px){
    .header-pagos-title{
        font-size: 3.75rem;
    }
    .pagos-logos{
        width: 130px;
    }
    .pagos-arrow-text{
        width: 80%;
    }
    .pagos-usuarios-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.875rem;
        margin-bottom: 5rem;
    }
    .pagos-usuarios{
        width: 90%;
        height: auto;
        margin: auto;
    }
}

@media (max-width: 700px){
    .header-pagos-container{
        height: 21.875rem;
    }
    .header-pagos-title{
        margin-top: 50px;
        width: 80%;
        font-size: 3.125rem;
        text-align: center;
    }
    .pagos-logos-container{
        padding-bottom: 1.875rem;
        gap: 15px;
    }
    .pagos-logos{
        width: 125px;
    }
    .pagos-title{
        font-size: 1.875rem;
        margin-bottom: 1.5625rem;
    }
    .pagos-text{
        font-size: 1.375rem;
    }
    .pagos-arrow-text{
        width: 90%;
    }
    .pagos-text-02{
        width: 90%;
        font-size: 1.375rem;
        padding: 1.25rem;
        margin-top: 1.875rem;
    }
    .pagos-text-03{
        font-size: 1.5625rem;
    }
    .pagos-alias-container{
        margin-bottom: 2.5rem;
    }
    .pagos-usuarios-container{
        gap: 1.25rem;
        margin-top: 1.875rem;
        margin-bottom: 4rem;
    }
}

@media (max-width: 400px){
    .header-pagos-container{
        height: 300px;
    }
    .header-pagos-title{
        font-size: 2.8125rem;
    }
}